openapi: 3.0.0

info:
  title: External API
  description: Колекція вузлів API для зовнішньої інтеграції з логістикою
  version: 1.0.5.6

servers:
  - description: Development Server
    url: https://devkernel.apex.rest:8443/ords/kernel_logistic/s/v1

tags:
  - name: Електронна черга
    description: Програмний інтерфейс для роботи з електронними чергами
  - name: Наряди
    description: Програмний інтерфейс для роботи з нарядами ТЗ розділу "Авто"
  - name: Рейси водія
    description: Програмний інтерфейс для роботи з рейсами водія
  - name: Поклажодавці
    description: Поклажодавці профіля черги
  - name: T001 - Подорожній лист
    description: Вузли для роботи водія із подорожніми листами
  - name: T002 - Рейси
    description: Вузли для роботи з рейсами
  - name: Т003 - ТТН
    description: Вузли для роботи з товарно-транспортними накладними
  - name: Т004 - Статистика черги
    description: Вузли для роботи з чергами та їх статистикою
  - name: Т005 - Верифікація
    description: Верифікація документів рейсу
  - name: T006 - Водії
    description: Вузли для роботи з водіями
  - name: T007 - Аутентифікація
    description: Вузли для роботи з аутентифікаціею користувачів системи
  - name: T008 - Населені пункти
    description: Вузли для роботи з населеними пунктами
  - name: Т009 - Запити на чергу
    description: Вузли для роботи з запитами в чергу
  - name: Т010 - Події
    description: Вузли для роботи з подіями рейсу водія

paths:
  /auth/check_pincode:
    post:
      tags: ['T007 - Аутентифікація']
      summary: Перевірка пін-коду користувача при вході в систему
      description:
        Перевірка пін-коду користувача при вході в систему
      parameters:
        - in: header
          name: status
          description: HTTP response status code
          schema:
            type: integer
        - in: header
          name: client_token
          example: e0d22acfba67c35937f2e26c7b6344e6
          description: 'Токен клієнта API. Таблиця "Клієнти АРІ(api_clients)". Використовується для публічних точок АПІ і як ключ до токена доступу, якщо функціонал заголовка Set-Cookie не задіяно'
          required: false
          schema:
            type: string
        - in: cookie
          name: refresh_token
          description: "Токен клієнта API.  Використовується WEB-клієнтами. Встановлюється автоматично через хедер Set-Cookie, якщо цей функціонал включено з Адмінки для поточного клієнта АПІ"
          example: "refresh_token=<токен клієнта>; Secure; HttpOnly"
          required: false
          schema:
            type: string
        - in: query
          name: phone
          example: 380675559911
          description: 'Номер телефону користувача'
          required: true
          schema:
            type: string
        - in: query
          name: pincode
          example: 6311
          description: 'Пін-код для перевірки'
          required: true
          schema:
            type: string

      responses:
        200:
          description: результат успішного виконання запиту
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/authCheckPinTrue'
                  - $ref: '#/components/schemas/authCheckPinFalse'
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequestNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        404:
          description: 'Дані не знайдено'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_NoDataFoundNew'
        500:
          description: 'Інша помилка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
      x-codegen-request-body-name: body
  /auth/send_pincode:
    post:
      tags: ['T007 - Аутентифікація']
      summary: Надіслати пін-код користувача при вході в систему
      description:
        Надіслати пін-код користувача при вході в систему
      parameters:
        - in: header
          name: status
          description: HTTP response status code
          schema:
            type: integer
        - in: header
          name: client_token
          example: e0d22acfba67c35937f2e26c7b6344e6
          description: 'Токен клієнта API. Таблиця "Клієнти АРІ(api_clients)". Використовується як ключ до токена доступу, якщо функціонал заголовка Set-Cookie не задіяно'
          required: true
          schema:
            type: string
        - in: query
          name: phone
          example: 380675559911
          description: 'Номер телефону користувача'
          required: true
          schema:
            type: string

      responses:
        200:
          description: результат успішного виконання запиту
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: 'Результат виконання'
                  pin_sent:
                    type: boolean
                    example: true
                    description: 'Результат надсилання пін-коду (надіслано чи ні)'
                  phone:
                    type: string
                    example: 380675559911
                    description: 'Номер телефону користувача'
                  message_code:
                    type: string
                    example: 035
                    description: 'Код повідомлення користувачу. Константа'
                  message_ua:
                    type: string
                    example: Пін-код відправляється тільки в бот Telegram. https:\/\/telegra.ph\/YAk-zavantazhiti-Telegram-02-24 Як підключити?
                    description: 'Повідомлення користувачу українською. Вказується в налаштуваннях адміна'
                  message_ru:
                    type: string
                    example: Пин-код отправляется только в бот Telegram. https:\/\/telegra.ph\/YAk-zavantazhiti-Telegram-02-24 Как подключить?
                    description: 'Повідомлення користувачу російською. Вказується в налаштуваннях адміна'
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequestNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        404:
          description: 'Дані не знайдено'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_NoDataFoundNew'
        500:
          description: 'Інша помилка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
      x-codegen-request-body-name: body
  /auth/refresh_token:
    get:
      tags: ['T007 - Аутентифікація']
      summary: Оновити токен доступу користувача системи Транзитхаб
      description:
        Оновити токен доступу, термін дії якого закінчується, для користувача системи Транзитхаб
      parameters:
        - in: header
          name: status
          description: HTTP response status code
          schema:
            type: integer
        - in: header
          name: client_token
          example: e0d22acfba67c35937f2e26c7b6344e6
          description: 'Токен клієнта API. Таблиця "Клієнти АРІ(api_clients)". Використовується як ключ до токена доступу, якщо функціонал заголовка Set-Cookie не задіяно'
          required: true
          schema:
            type: string
        - in: cookie
          name: refresh_token
          example: e0d22acfba67c35937f2e26c7b6344e6
          description: 'Рефреш токен. Таблиця "Клієнти АРІ(api_clients)". Використовується WEB-клієнтами. Встановлюється з заголовком Set-Cookie при увімкненому налаштуванні в Адмінці'
          required: false
          schema:
            type: string
        - in: header
          name: access_token
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJUUkFOU0lUSFVCIiwic3ViIjoiVEgiLCJhdWQiOiIzODA2ODg1OTIwNjEiLCJpYXQiOjE2ODkwODk0
          description: 'Токен доступу, що видається на певний проміжок часу та використовується для авторизації на сторінках системи Транзитхаб'
          required: true
          schema:
            type: string
        - in: query
          name: phone
          example: 380675559911
          description: 'Номер телефону користувача'
          required: true
          schema:
            type: string
      responses:
        200:
          description: результат успішного виконання запиту
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/authRefreshTokenTrue'
                  - $ref: '#/components/schemas/authRefreshTokenFalse'               
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequestNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        404:
          description: 'Дані не знайдено'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_NoDataFoundNew'
        500:
          description: 'Інша помилка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
      x-codegen-request-body-name: body
  /departure_permission:
    get:
      tags:
        - Електронна черга
      summary: Отримання рейсів Направлення на в'їзд
      description: |
        Передавши відповідні параметри, ви отримаєте реси документу Дозвіл на в'їзд
      operationId: departurePermissionGetRaces
      parameters:
        - name: client_token
          in: query
          description: Токен клієнта-споживача API Transithub
          required: true
          schema:
            type: string
        - name: client_guid
          in: query
          description: Унікальний ідентифікатор документа
          required: true
          schema:
            type: string
      responses:
        200:
          description: Успіх
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
                  count:
                    type: number
                    description: Кількість елементів массиву
                    example: 1.0
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/departurePermissionRace'
        400:
          description: Неправильний запит
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: false
        403:
          description: Клієнт-споживаач API не має прав
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: false
    post:
      tags:
        - Електронна черга
      summary: Створення Направлення на в'їзд
      description: |
        Передавши відповідні параметри, ви створите новий документ Дозвіл на в'їзд
      operationId: departurePermission
      parameters:
        - name: client_token
          in: query
          description: Токен клієнта-споживача API Transithub
          required: true
          schema:
            type: string
      requestBody:
        description: Дані для створення документа
        content:
          '*/*':
            schema:
              type: object
              properties:
                direction:
                  type: string
                  description:
                    Напрямок ("loading", "unloading"). Для неперсоналізованих
                    обов'язкове
                  example: loading
                loading_type:
                  type: string
                  description:
                    Тип завантаження ("mound", "pouring"). Для неперсоналізованих
                    обов'язкове
                  example: mound
                client_guid:
                  type: string
                  description: Унікальний ідентифікатор документа. Обов'язкове
                  format: uuid
                  example: f11747b0-f51e-a10e-cceb-fc9fa1caf800
                author:
                  type: string
                  description: ПІБ автора
                  example: Тоторо М. I.
                goods_code:
                  type: string
                  description: Код товару
                  example: ГРЕЧИХА
                vehicle_count:
                  type: number
                  description:
                    Кількість транспортний засобів. Для неперсоналізованих
                    більше 0
                  example: 3.0
                warehouse_code:
                  type: string
                  description: Склад напрямку. Для неперсоналізованих обов'язкове
                  example: КАТЕРИНІВВ
                gate:
                  type: string
                  description: Ворота в'їзду
                  example: GATES 123
                personalized:
                  type: integer
                  description: Персоналізоване. Доступні значення 0, 1. Обов'язкове
                  example: 1
                races:
                  type: array
                  items:
                    $ref: '#/components/schemas/departurePermissionRaceEntryTrackGuids'
        required: true
      responses:
        200:
          description: Запис створено з помилками
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: false
                  message:
                    type: string
                    description: Причина помилки
                    example: Profile not found
        201:
          description: Запис створено
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: false
        403:
          description: Клієнт-споживаач API не має прав
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: false
        409:
          description: поле client_guid не унікальне
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: false
                  msg:
                    type: string
                    description: поле client_guid не унікальне
                    example:
                      'ORA-00001: unique constraint (KERNEL_LOGISTIC_DEV.U_DEPARTURE_PERMISSION_1)
                      violated'
      x-codegen-request-body-name: payload
  /drivers:
    post:
      tags: 
        - 'T006 - Водії'
      summary: Створення(реєстрація) нового водія в системі
      description:
        Точка реєстрації нового водія в системі
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              description: 'required:
                - first_name
                - middle_name
                - last_name
                - cert_serial_number
                - phone
                - workspace'
              properties:
                first_name:
                  type: string
                  maxLength: 100
                  example: Микола
                  description: "Ім'я водія (в байтах). Таблиця: ТХ водії(th_drivers)"
                middle_name:
                  type: string
                  maxLength: 100
                  example: Володимирович
                  description: 'По-батькові водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                last_name:
                  type: string
                  maxLength: 100
                  example: Миколайчук
                  description: 'Прізвище водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                workspace:
                  type: string
                  maxLength: 50
                  example: kernel
                  description: 'Воркспейс компанії ТХ (в байтах). Таблиця: ТХ компанії(th_companys)'
                phone:
                  type: string
                  example: 380675559911
                  description: 'Номер телефону водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                email:
                  type: string
                  maxLength: 200
                  format: email
                  example: mykola
                  description: 'mykola@gmail.com (в байтах). Таблиця: ТХ водії(th_drivers)'
                cert_serial_number:
                  type: string
                  maxLength: 50
                  example: КВЕ415834
                  description: 'Серія та номер посвідчення водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                external_user_id:
                  type: string
                  maxLength: 500
                  example: telegra_3107762899
                  description: 'Ідентифікатор користувача в клієнт-аплікації (в байтах). Таблиця: ТХ водії(th_drivers)'
                person_docs_type:
                  type: string
                  enum:
                    [
                      passport,
                      id_card
                    ]
                  example: passport
                  description: 'Тип документу, що посвідчує особу водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                pass_serial:
                  type: string
                  maxLength: 20
                  example: КР
                  description: 'Серія паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                pass_number:
                  type: string
                  maxLength: 40
                  example: КР
                  description: 'Номер паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                pass_issued:
                  type: string
                  maxLength: 800
                  example: Карлівським РВ УМВС України в Полтавській області
                  description: 'Де і ким видано паспорт водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                pass_date:
                  type: string
                  format: dd.mm.yyyy hh:mm:ss
                  example: 28.04.2021 00:00:00
                  description: 'Дата видачі паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                id_card_number:
                  type: string
                  maxLength: 20
                  example: 000009990
                  description: 'Номер ідентифікаційної картки водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                id_card_date:
                  type: string
                  format: dd.mm.yyyy hh:mm:ss
                  example: 28.04.2021 00:00:00
                  description: 'Дата видачі ідентифікаційної картки водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                id_card_issued:
                  type: string
                  example: Карлівським РВ УМВС України в Полтавській області
                  description: 'Де і ким видана ідентифікаційна картка водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                contact_info_type:
                  type: string
                  maxLength: 100
                  example: TELEGRAM
                  description: "Тип додаткової контактної інформації водія ТХ (в байтах). 
                    Таблиця: ТХ водій/Контактна інформація(th_drivers_contact_info)"
                contact_info_value:
                  type: string
                  maxLength: 500
                  example: 1115075380
                  description: "Значення додаткової контактної інформації водія ТХ (в байтах). 
                    Таблиця: ТХ водій/Контактна інформація(th_drivers_contact_info)"
                contact_info_description:
                  type: string
                  maxLength: 1000
                  example: Чат id TELEGRAM каналу
                  description: "Опис додаткової контактної інформації водія ТХ (в байтах). 
                    Таблиця: ТХ водій/Контактна інформація(th_drivers_contact_info)"
      responses:
        200:
          description: результат успішного виконання запиту
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  guid:
                    type: string
                    format: uuid
                    maxLength: 50
                    example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                    description: 'Ідентифікатор запису Водія ТХ (в байтах). Таблиця: ТХ водії(th_drivers)'
                  driver_status:
                    type: string
                    enum:
                      [
                        ARCHIVED,
                        ACTIVE
                      ]
                    example: ACTIVE
                    description: 'Статус водія: активний, в архіві. Таблиця: ТХ водії(th_drivers)'
                  first_name:
                    type: string
                    maxLength: 100
                    example: Микола
                    description: "Ім'я водія (в байтах). Таблиця: ТХ водії(th_drivers)"
                  middle_name:
                    type: string
                    maxLength: 100
                    example: Володимирович
                    description: 'По-батькові водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  last_name:
                    type: string
                    maxLength: 100
                    example: Миколайчук
                    description: 'Прізвище водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  name:
                    type: string
                    maxLength: 150
                    example: Миколайчук М. В.
                    description: 'ПІБ водія скорочене (в байтах). Таблиця: ТХ водії(th_drivers)'
                  full_name:
                    type: string
                    maxLength: 150
                    example: Миколайчук Микола Володимирович
                    description: 'ПІБ водія повне (в байтах). Таблиця: ТХ водії(th_drivers)'
                  pass_serial:
                    type: string
                    maxLength: 20
                    example: КР
                    description: 'Серія паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  pass_number:
                    type: string
                    maxLength: 40
                    example: КР
                    description: 'Номер паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  pass_issued:
                    type: string
                    maxLength: 800
                    example: Карлівським РВ УМВС України в Полтавській області
                    description: 'Де і ким видано паспорт водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  pass_date:
                    type: string
                    format: dd.mm.yyyy hh:mm:ss
                    example: 28.04.2021 00:00:00
                    description: 'Дата видачі паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  id_card_number:
                    type: string
                    maxLength: 20
                    example: 000009990
                    description: 'Номер ідентифікаційної картки водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  id_card_date:
                    type: string
                    format: dd.mm.yyyy hh:mm:ss
                    example: 28.04.2021 00:00:00
                    description: 'Дата видачі ідентифікаційної картки водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  id_card_issued:
                    type: string
                    example: Карлівським РВ УМВС України в Полтавській області
                    description: 'Де і ким видана ідентифікаційна картка водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  external_user_id:
                    type: string
                    maxLength: 500
                    example: telegra_3107762899
                    description: 'Ідентифікатор користувача в клієнт-аплікації (в байтах). Таблиця: ТХ водії(th_drivers)'
                  cert_serial_number:
                    type: string
                    maxLength: 50
                    example: КВЕ415834
                    description: 'Серія та номер посвідчення водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  cert_serial_number_slug:
                    type: string
                    maxLength: 50
                    example: КВЕ415834
                    description: 'Серія та номер посвідчення водія опрацьовані утилітою слаг (в байтах). Таблиця: ТХ водії(th_drivers)'
                  _state:
                    type: string
                    maxLength: 6
                    example: created
                    description: 'Застарів і не використовується (в байтах). Константа'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        404:
          description: 'Дані не знайдено'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_NoDataFoundNew'
        500:
          description: 'Інша помилка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
      x-codegen-request-body-name: body
  /driver/races/status:
    get:
      tags:
        - Рейси водія
      summary: Актуальний рейс водія
      description: |
        Пошук актуального рейсу для водія
      operationId: driverRacesStatus
      parameters:
        - name: client_token
          in: query
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - name: driver_phone
          in: query
          description: Телефон водія
          schema:
            type: string
        - name: vehicle_number
          in: query
          description: Номер транспортного засобу
          schema:
            type: string
      responses:
        200:
          description: Дані актуального рейсу
          content:
            '*/*':
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус відповіді
                    example: true
                  race_status:
                    type: string
                    description:
                      'Статус рейсу. Варіанти: REGISTERED, IN_PROGRESS,
                      DONE, CANCELED, PAUSE. Таблиця: Рейси (races)'
                    example: IN_PROGRESS
                  guid:
                    type: string
                    description: 'Гуід рейсу. Таблиця: Рейси (races)'
                    example: 685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa
                  number:
                    type: string
                    description: 'Номер рейсу. Таблиця: Рейси (races)'
                    example: 200827-0192
                  date:
                    type: string
                    description: 'Дата рейсу. Таблиця: Рейси (races)'
                    example: 27.08.2020 22:24:19
                  source:
                    type: string
                    description: 'Джерело рейсу. Таблиця: Рейси (races)'
                    example: track_check
                  queue_from_registration_source:
                    type: string
                    description:
                      'Джерело реєстрації в черзі на завантаження. Таблиця:
                      Статистика рейсу (race_statistics)'
                    example: track_check
                  queue_to_registration_source:
                    type: string
                    description:
                      'Джерело реєстрації в черзі на розвантаження. Таблиця:
                      Статистика рейсу (race_statistics)'
                    example: track_check
                  entry_guid_track:
                    type: string
                    description: 'Entry Guid Track. Таблиця: Рейси (races)'
                    example: 685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa
                  barcode:
                    type: string
                    description:
                      'Штрихкод. Генерується на основі Entry Guid Track.
                      Таблиця: Рейси (races)'
                    example: '335060005532965762747441881103117533991'
                  queue_from_registered_date:
                    type: string
                    description:
                      'Дата реєстрації в черзі на завантаження. Таблиця:
                      Статистика рейсу (race_statistics)'
                    example: 27.08.2020 22:24:19
                  queue_to_registered_date:
                    type: string
                    description:
                      'Дата реєстрації в черзі на розвантаження. Таблиця:
                      Статистика рейсу (race_statistics)'
                    example: 27.08.2020 22:24:19
                  queue_from_timing_out_1:
                    type: string
                    description:
                      'Таймінг вибуття 1 на завантаження. Таблиця: Статистика
                      рейсу (race_statistics)'
                    example: 27.08.2020 22:24:19
                  queue_from_timing_out_2:
                    type: string
                    description:
                      'Таймінг вибуття 2 на завантаження. Таблиця: Статистика
                      рейсу (race_statistics)'
                    example: 27.08.2020 22:24:19
                  queue_to_timing_out_1:
                    type: string
                    description:
                      'Таймінг вибуття 1 на розвантаження. Таблиця: Статистика
                      рейсу (race_statistics)'
                    example: 27.08.2020 22:24:19
                  queue_to_timing_out_2:
                    type: string
                    description:
                      'Таймінг вибуття 2 на розвантаження. Таблиця: Статистика
                      рейсу (race_statistics)'
                    example: 27.08.2020 22:24:19
                  vehicle_register_guid:
                    type: string
                    description: 'Гуід наряду. Таблиця: Наряди (request_vehicle_register)'
                    example: 685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa
                  request_guid:
                    type: string
                    description: 'Гуід заявки. Таблиця: Заявка (requests)'
                    example: 685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa
                  request_client_number:
                    type: string
                    description: 'Клієнтський номер заявки. Таблиця: Заявка (requests)'
                    example: Z_058436
                  manager_name:
                    type: string
                    description: 'Назва менеджера. Таблиця: Заявка (requests)'
                    example: Сергій Юрійович Курбатов
                  manager_phone:
                    type: string
                    description: 'Телефон менеджера. Таблиця: Заявка (requests)'
                    example: '380999999999'
                  manager_email:
                    type: string
                    description: 'Електронна пошта менеджера. Таблиця: Заявка (requests)'
                    example: manager@kernel.ua
                  additional_info:
                    type: string
                    description: 'Коментар до заявки. Таблиця: Заявка (requests)'
                    example: Будь-який текст
                  additional_info_2:
                    type: string
                    description: 'Додатковий коментар до заявки. Таблиця: Заявка (requests)'
                    example: Додатковий текст
                  vehicle_number:
                    type: string
                    description:
                      'Реєстраційний номер транспортного засобу. Таблиця:
                      Рейси (races)'
                    example: ВА8783СС
                  trailer_number:
                    type: string
                    description:
                      'Реєстраційний номер причіпу. Якщо рейс без причіпу,
                      то значення - no_trailer. Таблиця: Рейси (races)'
                    example: ВА3272ХО
                  no_trailer:
                    type: number
                    description:
                      'Признак відсутності причіпу. 1 - відсутній. Якщо
                      причіп вказано в рейсів, то даний ключ не передається. Таблиця:
                      Рейси (races)'
                    example: 1.0
                  consignor_name:
                    type: string
                    description: 'Назва вантажовідправника. Таблиця: Рейси (races)'
                    example: ПРАТ Кропивницький ОЕЗ
                  consignor_code:
                    type: string
                    description: 'Код ЄДРПОУ вантажовідправника. Таблиця: Рейси (races)'
                    example: '999999999'
                  consignee_name:
                    type: string
                    description: 'Назва вантажоотримувача. Таблиця: Рейси (races)'
                    example: ПРАТ Кропивницький ОЕЗ
                  consignee_code:
                    type: string
                    description: 'Код ЄДРПОУ вантажоотримувача. Таблиця: Рейси (races)'
                    example: '999999999'
                  driver_guid:
                    type: string
                    description: 'Гуід водія. Таблиця: Водії ТХ (th_drivers)'
                    example: 685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa
                  driver_fullname:
                    type: string
                    description: 'Повна назва водія. Таблиця: Водії ТХ (th_drivers)'
                    example: Шевченко Тарас Григорович
                  driver_phone:
                    type: string
                    description: 'Номер телефону водія. Таблиця: Рейси (races)'
                    example: '380999999999'
                  driver_phone_additional:
                    type: string
                    description:
                      'Додатковий номер телефону водія. Таблиця: Рейси
                      (races)'
                    example: '380999999999'
                  driver_cert:
                    type: string
                    description: 'Сертифікат водія. Таблиця: Рейси (races)'
                    example: КВІ111111
                  driver_id_card:
                    type: string
                    description:
                      'ID-карта водія. Таблиця: Водії ТХ по наряду рейсу
                      (th_drivers)'
                    example: КВІ111111
                  driver_id_card_date:
                    type: string
                    description:
                      'Дата ID-карти водія. Таблиця: Водії ТХ по наряду
                      рейсу (th_drivers)'
                    example: 27.08.2020
                  driver_id_card_issued:
                    type: string
                    description:
                      'Місце видачі ID-карти водія. Таблиця: Водії ТХ по
                      наряду рейсу (th_drivers)'
                    example: 27.08.2020
                  person_docs_type:
                    type: string
                    description:
                      'Тип документу водія. Варіанти: passport, id_card.
                      Таблиця: Водії ТХ по наряду рейсу (th_drivers)'
                    example: passport
                  pass_serial:
                    type: string
                    description:
                      'Серія паспорту водія. Таблиця: Водії ТХ по наряду
                      рейсу (th_drivers)'
                    example: СМ
                  pass_number:
                    type: string
                    description:
                      'Номер паспорту водія. Таблиця: Водії ТХ по наряду
                      рейсу (th_drivers)'
                    example: '3456'
                  pass_date:
                    type: string
                    description:
                      'Дата видачі паспорту водія. Таблиця: Водії ТХ по
                      наряду рейсу (th_drivers)'
                    example: 27.08.2020
                  pass_issued:
                    type: string
                    description:
                      'Місце видачі паспорту водія. Таблиця: Водії ТХ по
                      наряду рейсу (th_drivers)'
                    example: Місцевим РВ МВС
                  distance:
                    type: number
                    description: 'Відстань по заявці. Таблиця: Таблиця: Заявка (requests)'
                    example: 20.0
                  route:
                    type: string
                    description:
                      'Посилання ан маршрут. Таблиця: Таблиця: Заявка (requests)
                      або Рейси (races). Якщо маршрут в заявці не вказано, то береться
                      значення із таблиці рейсів'
                    example: https:\/\/www.google.com\/maps\/dir\/?api=1&origin=49.0750249,29.6002885&destination=48.512828,32.246397&waypoints=49.0748577,29.5991683|49.11226629999999,29.6139251|49.11226629999999,29.6139251|49.11254350000001,29.6142191|49.11254350000001,29.6142191|49.01441639999999,29.7081856|49.01441639999999,29.7081856|49.0077767,29.7027976|49.0077767,29.7027976|49.0057127,29.7606889|49.0057127,29.7606889|48.9955309,29.8072143|48.9955309,29.8072143|48.99371,29.8076215|48.99371,29.8076215|48.9938381,29.8079734|48.9938381,29.8079734|48.9851149,29.8138711|48.9851149,29.8138711|48.77297129999999,29.9880175|48.77297129999999,29.9880175|48.7196704,30.2719297|48.7196704,30.2719297|48.51343689999999,32.1601865|48.51343689999999,32.1601865|48.5078287,32.1956255|48.5078287,32.1956255|48.50386959999999,32.2222363|48.50386959999999,32.2222363|48.5016343,32.2372127|48.5016343,32.2372127|48.5129272,32.2485576|48.5129272,32.2485576|48.5143443,32.2491464|48.5143443,32.2491464|48.5135798,32.2482478|48.5135798,32.2482478|48.5131942,32.2485712|48.5131942,32.2485712|48.512809,32.2464139&key={API_KEY}
                  point_from_koatuu:
                    type: string
                    description:
                      'Код КОАТУУ населеного пункту завантаження. Таблиця:
                      Населені пункти (locality)'
                    example: 5.23184101E8
                  point_from_name_ua:
                    type: string
                    description:
                      'Назва населеного пункту завантаження (укр.). Таблиця:
                      Населені пункти (locality)'
                    example: Підвисоке
                  point_from_name_ru:
                    type: string
                    description:
                      'Назва населеного пункту завантаження (рос.). Таблиця:
                      Населені пункти (locality)'
                    example: Подвысокое
                  point_from_region_name_ua:
                    type: string
                    description:
                      'Область населеного пункту завантаження (укр.). Таблиця:
                      Населені пункти (locality)'
                    example: Вінницька
                  point_from_region_name_ru:
                    type: string
                    description:
                      'Область населеного пункту завантаження (рос.). Таблиця:
                      Населені пункти (locality)'
                    example: Винницкая
                  point_from_description:
                    type: string
                    description:
                      'Адреса населеного пункту завантаження (укр.). Таблиця:
                      Населені пункти (locality)'
                    example: Україна, Вінницька обл., Оратівський район, с. Підвисоке
                  point_from_description_ua:
                    type: string
                    description:
                      'Адреса населеного пункту завантаження (укр.). Таблиця:
                      Населені пункти (locality)'
                    example: Україна, Вінницька обл., Оратівський район, с. Підвисоке
                  point_from_description_ru:
                    type: string
                    description:
                      'Адреса населеного пункту завантаження (рос.). Таблиця:
                      Населені пункти (locality)'
                    example: Украина, Винницкая обл., Оратовский район, с. Подвысокое
                  point_to_koatuu:
                    type: string
                    description:
                      'Код КОАТУУ населеного пункту розвантаження. Таблиця:
                      Населені пункти (locality)'
                    example: 5.23184101E8
                  point_to_name_ua:
                    type: string
                    description:
                      'Назва населеного пункту розвантаження (укр.). Таблиця:
                      Населені пункти (locality)'
                    example: Підвисоке
                  point_to_name_ru:
                    type: string
                    description:
                      'Назва населеного пункту розвантаження (рос.). Таблиця:
                      Населені пункти (locality)'
                    example: Подвысокое
                  point_to_region_name_ua:
                    type: string
                    description:
                      'Область населеного пункту розвантаження (укр.).
                      Таблиця: Населені пункти (locality)'
                    example: Вінницька
                  point_to_region_name_ru:
                    type: string
                    description:
                      'Область населеного пункту розвантаження (рос.).
                      Таблиця: Населені пункти (locality)'
                    example: Винницкая
                  point_to_description:
                    type: string
                    description:
                      'Адреса населеного пункту розвантаження (укр.). Таблиця:
                      Населені пункти (locality)'
                    example: Україна, Вінницька обл., Оратівський район, с. Підвисоке
                  point_to_description_ua:
                    type: string
                    description:
                      'Адреса населеного пункту розвантаження (укр.). Таблиця:
                      Населені пункти (locality)'
                    example: Україна, Вінницька обл., Оратівський район, с. Підвисоке
                  point_to_description_ru:
                    type: string
                    description:
                      'Адреса населеного пункту розвантаження (рос.). Таблиця:
                      Населені пункти (locality)'
                    example: Украина, Винницкая обл., Оратовский район, с. Подвысокое
                  carrier_name:
                    type: string
                    description: 'Назва перевізника. Таблиця: Рейси (races)'
                    example: ФОП Перевізник П. П.
                  carrier_guid:
                    type: string
                    description: 'Гуід перевізника. Таблиця: Рейси (races)'
                    example: 685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa
                  carrier_code:
                    type: string
                    description: 'Код ЄДРПОУ перевізника. Таблиця: Рейси (races)'
                    example: '999999999'
                  client_name:
                    type: string
                    description: 'Назва клієнта. Таблиця: Заявки (requests)'
                    example: ФОП Клієнт
                  goods_guid:
                    type: string
                    description: 'Гуід вантажу. Таблиця: Вантаж (goods)'
                    example: СОНЯШНИК
                  goods_name:
                    type: string
                    description: 'Назва вантажу. Таблиця: Вантаж (goods)'
                    example: Соняшник
                  goods_desc:
                    type: string
                    description: 'Опис вантажу. Таблиця: Вантаж (goods)'
                    example: Соняшник
                  goods_name_ua:
                    type: string
                    description: 'Назва вантажу (укр.). Таблиця: Вантаж (goods)'
                    example: Соняшник
                  goods_name_ru:
                    type: string
                    description: 'Назва вантажу (рос.). Таблиця: Вантаж (goods)'
                    example: Подсолнечник
                  quantity:
                    type: number
                    description: 'Кількість вантажу в тонах. Таблиця: Рейси (races)'
                    example: 10.0
                  customer_kt:
                    type: number
                    description:
                      'Признак того, що замовник є КернелТрейд. Таблиця:
                      Рейси (races)'
                    example: 1.0
                  customer_kt_ua:
                    type: string
                    description:
                      'Признак того, що замовник є КернелТрейд (укр.).
                      Варіанти: Так, Ні. Таблиця: Рейси (races)'
                    example: Так
                  customer_kt_ru:
                    type: string
                    description:
                      'Признак того, що замовник є КернелТрейд (рос.).
                      Варіанти: Да, Нет. Таблиця: Рейси (races)'
                    example: Так
                  th_carrier_org_name:
                    type: string
                    description: 'Назва перевізника. Таблиця: Рейси (races)'
                    example: ФОП Перевізник П. П.
                  waybill_number:
                    type: string
                    description: 'Номер ТТН. Таблиця: Рейси (races)'
                    example: ТН345
                  waybill_date:
                    type: string
                    description: 'Дата ТТН. Таблиця: Рейси (races)'
                    example: 27.08.2020
                  waybill_netto_in:
                    type: number
                    description:
                      'Вага нетто ТТН вантажовідрпавника. Таблиця: Рейси
                      (races)'
                    example: 20000.0
                  waybill_netto_out:
                    type: number
                    description:
                      'Вага нетто ТТН вантажоотримувача. Таблиця: Рейси
                      (races)'
                    example: 20000.0
                  waybill_gross:
                    type: number
                    description:
                      'Вага брутто ТТН вантажовідрпавника. Таблиця: Рейси
                      (races)'
                    example: 24000.0
                  waybill_tara:
                    type: number
                    description:
                      'Вага тара ТТН вантажовідрпавника. Таблиця: Рейси
                      (races)'
                    example: 4000.0
                  no_waybill_weight:
                    type: number
                    description:
                      'ТТН без ваги. Варіанти: 1, 0. Якщо значення null,
                      то ключ не передається. Таблиця: Рейси (races)'
                    example: 0.0
                  waybill_registration_date:
                    type: string
                    description: 'Дата реєстрації ТТН. Таблиця: Рейси (races)'
                    example: 27.08.2020 22:24:19
                  waybill_consignee_gross:
                    type: number
                    description:
                      'Вага брутто ТТН вантажоотримувача. Таблиця: Рейси
                      (races)'
                    example: 24000.0
                  waybill_consignee_tare:
                    type: number
                    description:
                      'Вага тара ТТН вантажоотримувача. Таблиця: Рейси
                      (races)'
                    example: 4000.0
                  warehouse_from_guid:
                    type: string
                    description: 'Гуід складу завантаження. Таблиця: Склади (warehouse)'
                    example: 685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa
                  warehouse_from_code:
                    type: string
                    description: 'Код складу завантаження. Таблиця: Склади (warehouse)'
                    example: '3510100000004'
                  warehouse_from_name:
                    type: string
                    description: 'Назва складу завантаження. Таблиця: Склади (warehouse)'
                    example: Кропивницький ОЕЗ, ПРАТ
                  warehouse_from_address:
                    type: string
                    description: 'Адреса складу завантаження. Таблиця: Склади (warehouse)'
                    example:
                      Україна, Кіровоградська обл., м. Кропивницький, вулиця
                      Урожайна 30
                  warehouse_from_short_address:
                    type: string
                    description:
                      'Коротка адреса складу завантаження. Таблиця: Склади
                      (warehouse)'
                    example: вулиця Урожайна 30
                  warehouse_from_lat:
                    type: string
                    description: 'Довгота складу завантаження. Таблиця: Склади (warehouse)'
                    example: '48.512828'
                  warehouse_from_lng:
                    type: string
                    description: 'Широта складу завантаження. Таблиця: Склади (warehouse)'
                    example: '32.246397'
                  warehouse_from_max_height:
                    type: number
                    description:
                      'Максимальна висота складу завантаження. Таблиця:
                      Заявки (requests)'
                    example: 3.2
                  warehouse_from_max_weight:
                    type: number
                    description:
                      'Максимальна ширина складу завантаження. Таблиця:
                      Заявки (requests)'
                    example: 6.4
                  warehouse_from_max_length:
                    type: number
                    description:
                      'Максимальна довжина складу завантаження. Таблиця:
                      Заявки (requests)'
                    example: 8.4
                  warehouse_from_weight_type:
                    type: string
                    description:
                      'Тип ваг складу завантаження. Варіанти: Механические,
                      Электронные. Якщо значення null, то ключ не передається. Таблиця:
                      Заявки (requests)'
                    example: Механические
                  warehouse_from_bd_on:
                    type: string
                    description:
                      'BD On для складу завантаження. Варіанти: 1, 0. Таблиця:
                      Налаштування складу (warehouse_settings)'
                    example: Механические
                  warehouse_to_guid:
                    type: string
                    description: 'Гуід складу розвантаження. Таблиця: Склади (warehouse)'
                    example: 685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa
                  warehouse_to_code:
                    type: string
                    description: 'Код складу розвантаження. Таблиця: Склади (warehouse)'
                    example: '3510100000004'
                  warehouse_to_name:
                    type: string
                    description: 'Назва складу розвантаження. Таблиця: Склади (warehouse)'
                    example: Кропивницький ОЕЗ, ПРАТ
                  warehouse_to_address:
                    type: string
                    description: 'Адреса складу розвантаження. Таблиця: Склади (warehouse)'
                    example:
                      Україна, Кіровоградська обл., м. Кропивницький, вулиця
                      Урожайна 30
                  warehouse_to_short_address:
                    type: string
                    description:
                      'Коротка адреса складу розвантаження. Таблиця: Склади
                      (warehouse)'
                    example: вулиця Урожайна 30
                  warehouse_to_lat:
                    type: string
                    description: 'Довгота складу розвантаження. Таблиця: Склади (warehouse)'
                    example: '48.512828'
                  warehouse_to_lng:
                    type: string
                    description: 'Широта складу розвантаження. Таблиця: Склади (warehouse)'
                    example: '32.246397'
                  warehouse_to_max_height:
                    type: number
                    description:
                      'Максимальна висота складу розвантаження. Таблиця:
                      Заявки (requests)'
                    example: 3.2
                  warehouse_to_max_weight:
                    type: number
                    description:
                      'Максимальна ширина складу розвантаження. Таблиця:
                      Заявки (requests)'
                    example: 6.4
                  warehouse_to_max_length:
                    type: number
                    description:
                      'Максимальна довжина складу розвантаження. Таблиця:
                      Заявки (requests)'
                    example: 8.4
                  warehouse_to_weight_type:
                    type: string
                    description:
                      'Тип ваг складу розвантаження. Варіанти: Механические,
                      Электронные. Якщо значення null, то ключ не передається. Таблиця:
                      Заявки (requests)'
                    example: Механические
                  warehouse_to_bd_on:
                    type: string
                    description:
                      'BD On для складу розвантаження. Варіанти: 1, 0.
                      Таблиця: Налаштування складу (warehouse_settings)'
                    example: Механические
                  loading_type:
                    type: string
                    description:
                      'Тип завантаження/тип вантажу. Варіанти: mound, pouring.
                      Якщо значення null, то ключ не передається. Таблиця: Рейси (races)'
                    example: mound
                  last_event_guid:
                    type: string
                    description: 'Код останньої події рейсу. Таблиця: Подій (events)'
                    example: GOTO_UNLOAD
                  last_event_name_ua:
                    type: string
                    description:
                      'Назва останньої події рейсу (укр.). Таблиця: Подій
                      (events)'
                    example: Вирушив до пункту РОЗВАНТАЖЕННЯ
                  last_event_name_ru:
                    type: string
                    description:
                      'Назва останньої події рейсу (рос.). Таблиця: Подій
                      (events)'
                    example: Выехал в пункт РАЗГРУЗКИ
                  last_event_date:
                    type: string
                    description:
                      'Дата останньої події рейсу (рос.). Таблиця: Рейси
                      (races)'
                    example: 27.08.2020 22:24:19
                  handle_status:
                    type: string
                    description:
                      'Статус обробки рейсу. Варіанти: ready, dash, inactive,
                      canceled. Таблиця: Рейси (races)'
                    example: ready
                  profile_from_cargo_owner_accessible:
                    type: integer
                    example: 1
                    description: 'Ознака доступності поклажодавця для профіля черги навантаження. Таблиця: Профілі черги (pq_queue_profiles)'
                  profile_to_cargo_owner_accessible:
                    type: integer
                    example: 0
                    description: 'Ознака доступності поклажодавця для профіля черги розвантаження. Таблиця: Профілі черги (pq_queue_profiles)'
                  queue_profile_from_name:
                    type: string
                    example: 'Кропивницький ОЕЗ'
                    description: 'Назва профілю черг завантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_profile_from_guid:
                    type: string
                    example: 'e36aa43c-839f-482e-0dd8-4d668234a56e'
                    description: 'Гуід профілю черг завантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_profile_to_name:
                    type: string
                    example: 'Кропивницький ОЕЗ'
                    description: 'Назва профілю черг розвантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_profile_to_guid:
                    type: string
                    example: 'e36aa43c-839f-482e-0dd8-4d668234a56e'
                    description: 'Гуід профілю черг розвантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  for_owner_name:
                    type: string
                    example: 'ТОВ Кернел-Трейд'
                    description: 'Назва поклажодавця. Таблиця: Рейси (races)'
                  for_owner_code:
                    type: string
                    example: '068787868888'
                    description: 'Код ЄДРПОУ поклажодавця. Таблиця: Рейси (races)'
                  for_owner_comments:
                    type: string
                    example: 'Коментар'
                    description: 'Примітка поклажодавця. Таблиця: Рейси (races)'
                  for_owner_guid:
                    type: string
                    example: '685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa'
                    description: 'Унікальний ідентифікатор поклажодавця. Таблиця: Рейси (races)'
                  queue_profile_from_verification_available:
                    type: number
                    example: 0
                    description: 'Признак доступності верифікації в профілі черг завантаження. Варіанти: 1, 0. Таблиця: Профіль черг (pq_queue_profile)'
                  is_verified_from:
                    type: number
                    example: 0
                    description: 'Признак пройденої верифікації при завантаженні. Варіанти: 1, 0. Таблиця: Статистика рейсу (race_statistics)'
                  verifying_date_from:
                    type: string
                    example: '27.08.2020 23:58'
                    description: 'Дата пройденої верифікації при завантаженні. Таблиця: Статистика рейсу (race_statistics)'
                  verification_status_from:
                    type: string
                    example: 'draft'
                    description: 'Статус пройденої верифікації при завантаженні. Варіанти: draft, to_check, accepted, rejected, available, disabled. Таблиця: Статистика рейсу (race_statistics)'
                  queue_profile_to_verification_available:
                    type: number
                    example: 0
                    description: 'Признак доступності верифікації в профілі черг розвантаження. Варіанти: 1, 0. Таблиця: Профіль черг (pq_queue_profile)'
                  is_verified_to:
                    type: number
                    example: 0
                    description: 'Признак пройденої верифікації при розвантаженні. Варіанти: 1, 0. Таблиця: Статистика рейсу (race_statistics)'
                  verifying_date_to:
                    type: string
                    example: '27.08.2020 23:58'
                    description: 'Дата пройденої верифікації при розвантаженні. Таблиця: Статистика рейсу (race_statistics)'
                  verification_status_to:
                    type: string
                    example: 'draft'
                    description: 'Статус пройденої верифікації при розвантаженні. Варіанти: draft, to_check, accepted, rejected, available, disabled. Таблиця: Статистика рейсу (race_statistics)'
                  queue_profile_from_verification_status:
                    type: string
                    example: 'available'
                    description: 'Статус пройденої верифікації при завантаженні по профілю черги. Варіанти: to_check, accepted, rejected, available, disabled. Таблиця: Статистика рейсу (race_statistics)'
                  queue_profile_to_verification_status:
                    type: string
                    example: 'available'
                    description: 'Статус пройденої верифікації при розвантаженні по профілю черги. Варіанти: to_check, accepted, rejected, available, disabled. Таблиця: Статистика рейсу (race_statistics)'
                  is_verification_available:
                    type: boolean
                    example: false
                    description: 'Доступність верифікації по признаку реєстрації ТТН в рейсі. true - ТТН зареєстрована, false - ТТН не зареєстрована. Таблиця: Рейси (races)'
                  verification_access_error_code:
                    type: string
                    example: '037'
                    description: 'Код помилки верифікації. Таблиця: Шаблони текстів (text_template)'
                  verification_access_error_ua:
                    type: string
                    example: 'Верифікація недоступна. Заповніть дані ТТН'
                    description: 'Текст помилки верифікації (укр.). Таблиця: Шаблони текстів (text_template)'
                  verification_access_error_ru:
                    type: string
                    example: 'Верификация недоступна. Заполните данные ТТН'
                    description: 'Текст помилки верифікації (рос.). Таблиця: Шаблони текстів (text_template)'
    put:
      tags:
        - Рейси водія
      summary: Прийняття в роботу актуального рейсу водія
      operationId: driverRacesStatusPut
      description: |
        Оновлення актуального рейсу водія по гуіду рейсу. Виконується прийняття рейсу в роботу, створення запиту на додаваня в чергу та встановлення джерела реєстрації в чергу
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
            example: 'e0d22acfba67c35937f2e26c7b6344e6'
        - in: query
          name: race_guid
          description: Гуід рейсу
          schema:
            type: string
            example: 'fc1235b4-4a1b-762b-dc8a-59e506534327'
      requestBody:
        description: Тіло запиту.
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                source:
                  type: string
                  example: 'track_check'
                  enum: [track_check, th, th_disp, bulkdata]
                  description: 'Джерело реєстрації в черзі. Варіанти: track_check, th, th_disp, bulkdata. Якщо значення не передано, то використовується track_check.'
      responses:
        '200':
          description: 'Оновлення пройшло успішно'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: 'Статус відповіді'
                  race_guid:
                    type: string
                    example: 'fc1235b4-4a1b-762b-dc8a-59e506534327'
                    description: 'Гуід оновленого рейсу'
        '401':
          description: 'Неавторизований користувач'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_UserisNotAuthorized'
        '403':
          description: 'Клієнт немає прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        '404':
          description: 'Клієнт немає прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_NoDataFound'
  /driver/waybills:
    post:
      tags:
        - ТТН
      summary: Створення/оновлення ТТН на підставі рейсу
      description:
        Точка створення/оновлення ТТН, що використовує процедуру оновлення таблиці рейсів
        та створює/оновлює ТТН на підставі рейсу
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              properties:
                race_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: Унікальний ідентифікатор рейсу
                harvest_year:
                  type: string
                  example: '2020'
                  description: Рік врожаю
                cargo_owner_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: Унікальний ідентифікатор поклажодавця
                operation_kind:
                  type: string
                  enum: [CARGO_OWNER_UPDATE, CARGO_OWNER_DEFAULT]
                  description: Вид операції оновлення
                has_laboratory_test:
                  type: integer
                  example: 1
                  enum: [0, 1]
                  description: Ознака наявності лабораторного аналіза
                error_text_code:
                  type: string
                  example: '060'
                  description: 'Код шаблону сповіщення. Таблиця: шаблони текстів (text_template)'
                error_text_ua:
                  type: string
                  example: Редагування ТТН заборонено. Рейс створено з БалкДати.
                  description: 'Текст шаблону сповіщення українською. Таблиця: шаблони текстів (text_template)'
                error_text_ru:
                  type: string
                  example: Редактирование ТТН запрещено. Рейс создан из БалкДаты.
                  description: 'Текст шаблону сповіщення російською. Таблиця: шаблони текстів (text_template)'
      responses:
        200:
          description: returns update results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  race_guid:
                    type: string
                    example: a5b7ff0a-8a0c-fcf6-c9ca-6372e229bea8
                  harvest_year:
                    type: string
                    example: '2020'
                    description: Рік врожаю
        401:
          description: User is not authorized
          content: {}
        403:
          description: Client has no rights
          content: {}
        404:
          description: no data found
          content: {}
        500:
          description: server error
          content: {}
      x-codegen-request-body-name: body
  /events:
    get:
      tags:
        - Т010 - Події
      summary: Список подій рейсу водія
      operationId: EventsGET
      description: |
        Список подій рейсу водія.
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: limit
          description: Пагінація списку ліміт
          schema:
            type: integer
        - in: query
          name: offset
          description: Пагінація списку оффсет
          schema:
            type: integer
        - in: query
          name: race_guid
          description: Унікальний ідентифікатор рейсу водія
          schema:
            type: string
        - in: query
          name: kind
          description: Вид події. За замовчуванням повертаються події з видом STATUS і OTHER
          schema:
            type: string
            enum: [STATUS, OTHER]
        - in: query
          name: direction
          description: Напрямок черги
          schema:
            type: string
            enum: [unloading, loading]
      responses:
        '200':
          description: Список подій рейсу водія
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: Статус відповіді
                  count:
                    type: integer
                    example: 3
                    description: Кількість записів
                  items:
                    $ref: '#/components/schemas/Event'
        '401':
          description: Користувач не авторизований
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_UserisNotAuthorizedNew'
        '403':
          description: Клієнт не має прав доступу
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        '404':
          description: Дані не знайдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_NoDataFoundNew'
        '500':
          description: Системна помилка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
  
  /localities:
    get:
      tags:
        - 'T008 - Населені пункти'
      summary: "Точка для отримання повної інформвції про територіальну одиницю."
      operationId: localitiesGet
      description: "Отримання всіх областей чи населених пунктів за певними параметрами."
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: koatuu
          description: 'КОАТУУ'
          required: false
          schema:
            type: string
            example: '0524583405'
        - in: query
          name: search
          description: 'Назва населеного пункту тощо'
          required: false
          schema:
            type: string
            example: 'Вишгород'
        - in: query
          name: region_code
          description: 'Код області'
          required: false
          schema:
            type: string
            example: '05'
        - in: query
          name: district_code
          description: 'Код району'
          required: false
          schema:
            type: string
            example: '05245'
        - in: query
          name: country_code
          description: 'Код країни'
          required: false
          schema:
            type: string
            example: 'UA'
        - in: query
          name: kind
          description: 'Тип територіальної одиниці'
          required: false
          schema:
            type: string
            example: 'Район'
        - in: query
          name: kind_id
          description: 'Код типу територіальної одиниці'
          required: false
          schema:
            type: integer
            example: 4
        - in: query
          name: guid
          description: 'Унікальний ідентифікатор територіальної одиниці'
          required: false
          schema:
            type: string
            example: '70D264A7-10C1-4D12-9B40-8E3961FFD7E2'
        - in: query
          name: limit
          description: 'Обмеження кількості результатів пошуку, що виводяться'
          required: false
          schema:
            type: integer
            example: 2
        - in: query
          name: offset
          description: 'Величина, на яку зміщується початок виведення результатів пошуку'
          required: false
          schema:
            type: integer
            example: 1
      responses:
        200:
          description: Дані про територіальну одиницю
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LocalitiesGet'
                  count:
                    type: integer
                    example: 1
                    description: Кількість знайдених результатів
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequest'
        403:
          description: 'Неправильний або відсутній access token/client token'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 20003
                        description: 'Код помилки'
                      message:
                        type: string
                        description: 'Повідомлення'
                        example: 'Invalid access token'
                      detail:
                        type: string
                        description: 'Детальний опис помилки'
                        example: "You need to specify correct values for access token. Please contact with APIs admin."
        500:
          description: server error
          content: {}
  
  /pq_queues_request.create_by_race:
    post:
      tags:
        - Електронна черга
      summary: Реєстрація запиту на чергу
      description: |
        Передавши відповідні параметри, ви реєструєте запит на додавання чи вибуття з електронної черги
      operationId: createPQQueueByRace
      parameters:
        - name: client_token
          in: query
          description: Токен клієнта-споживача API Transithub
          required: true
          schema:
            type: string
      requestBody:
        description: Дані для реєстрації запиту на чергу
        content:
          '*/*':
            schema:
              required:
                - check_geo
                - direction
                - race_guid
              type: object
              properties:
                race_guid:
                  type: string
                  description: Ідентифікатор рейсу
                  format: uuid
                  example: f3628624-da75-a99f-404d-4b47eac7db5f
                direction:
                  type: string
                  description: Напрямок ("loading", "unloading")
                  example: loading
                check_geo:
                  type: number
                  description:
                    Необхідність перевірки геокординат (1 - необхідна перевірка,
                    0 - перевірка не потрібна)
                  example: 1.0
                geo_lat:
                  type: number
                  description: Широта (геокординати)
                  example: 49.59776
                geo_lng:
                  type: number
                  description: Довгота (геокординати)
                  example: 34.51029
        required: true
      responses:
        201:
          description: Запис створено
          content:
            application/json:
              schema:
                type: object
                properties:
                  guid:
                    type: string
                    description: Ідентифікатор запиту на чергу
                    format: uuid
                    example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
        403:
          description: Клієнт-споживаач API не має прав
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: false
        404:
          description: Дані не знайдено
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: false
      deprecated: true
      x-codegen-request-body-name: payload
  /pq_queue_profiles/cargo_owners:
    get:
      tags:
        - Поклажодавці
      summary: Отримати активних поклажодавців профіля черги
      operationId: PQueueProfileCargoOwnersGET
      description: |
        Передавши відповідні параметри ви отримаєте усіх активних поклажодавців профіля черги
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: limit
          description: Пагінація списку ліміт
          schema:
            type: integer
        - in: query
          name: offset
          description: Пагінація списку оффсет
          schema:
            type: integer
        - in: query
          name: profile_guid
          description: Унікальний ідентифікатор профіля черги
          schema:
            type: string
      responses:
        '200':
          description: Дані по поклажодавцям профіля черги
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: 'Статус відповіді'
                  count:
                    type: integer
                    example: 3
                    description: 'Кількість записів'
                  items:
                    $ref: '#/components/schemas/PQueueProfileCargoOwner'
        '403':
          description: 'Клієнт немає прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
  /pq_technical_downtime:
    post:
      tags:
        - Електронна черга
      summary: Створення документу Технічний простой
      description: |
        Передавши відповідні параметри, ви створите новий документ Технічний простой
      operationId: technicalDowntime
      parameters:
        - name: client_token
          in: query
          description: Токен клієнта-споживача API Transithub
          required: true
          schema:
            type: string
      requestBody:
        description: Дані для створення документа
        content:
          '*/*':
            schema:
              type: object
              properties:
                direction:
                  type: string
                  description: Напрямок ("loading", "unloading")
                  example: loading
                loading_type:
                  type: string
                  description: Тип завантаження ("mound", "pouring")
                  example: mound
                client_guid:
                  type: string
                  description: Унікальний ідентифікатор документа
                  format: uuid
                  example: f11747b0-f51e-a10e-cceb-fc9fa1caf800
                beginning_date:
                  type: string
                  description: Дата початку простоя
                  example: 27.12.2019 12:46:44
                ending_date:
                  type: string
                  description: Дата закінчення простоя
                  example: 29.12.2019 12:46:44
                acceptance_rate:
                  type: number
                  description: Темп приймання, транспортних засобів/год
                  example: 5.0
                downtime_cause:
                  type: string
                  description: Причина простоя
                  example: Сніг пішов
                warehouse_code:
                  type: string
                  description: Склад напрямку
                  example: КАТЕРИНІВВ
                goods_guid:
                  type: string
                  description: Код товару
                  example: ОЛІЯ_СОН
        required: true
      responses:
        200:
          description: Запис створено з помилками
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: false
                  message:
                    type: string
                    description: Причина помилки
                    example: No data found
        201:
          description: Запис створено
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
        403:
          description: Клієнт-споживаач API не має прав
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: false
        409:
          description: поле client_guid не унікальне
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: false
                  msg:
                    type: string
                    description: поле client_guid не унікальне
                    example:
                      'ORA-00001: unique constraint (KERNEL_LOGISTIC_DEV.UNQ_PQ_TECHNICAL_DOWNTIME_CLIENT_GUID)
                      violated'
      x-codegen-request-body-name: payload
  /pq_queues.get_from_race_statistics:
    get:
      tags:
        - Т004 - Статистика черги
      summary: Статистика черги
      operationId: PQueueGetFromRaceStatistics
      description: |
        Отримання даних по чергам доступним вказаному рейсу
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: race_guid
          description: Унікальний ідентифікатор рейсу
          schema:
            type: string
      responses:
        '200':
          description: Дані по чергам доступним вказаному рейсу
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: 'Статус відповіді'
                  race_guid:
                    type: string
                    example: "947250ab-ba47-6b99-d35d-7c7a6e4d6669"
                    description: Унікальний ідентифікатор рейсу
                  to:
                    type: object
                    description: Дані по черзі розвантаження вказаного рейсу
                    $ref: '#/components/schemas/PQueueStatisticsObject'
                  from:
                    type: object
                    description: Дані по черзі навантаження вказаного рейсу
                    $ref: '#/components/schemas/PQueueStatisticsObject'
        '403':
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        '400':
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequest'
  /pq_queue_requests:
    post:
      tags:
        - 'Т009 - Запити на чергу'
      summary: Створити запит в чергу
      operationId: PQueueRequestsPost
      description: |
        Передавши відповідні параметри, ви створите новий 
        запис таблиці запитів в чергу.
      parameters:
        - name: client_token
          in: query
          description: Токен клієнта-споживача API Transithub
          required: true
          schema:
            type: string
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              properties:
                geo_lat:
                  type: number
                  description: "Широта геолокації. Таблиця: Запити на чергу(pq_queue_request)"
                  example: 45.343553
                geo_lng:
                  type: number
                  description: "Довгота геолокації. Таблиця: Запити на чергу(pq_queue_request)"
                  example: 45.343553
                queue_guid:
                  type: string
                  description: "Унікальний ідентифікатор запису таблиці види черг. Таблиця: Види черг(pq_queue)"
                  example: '0e6972a5-dffd-2d72-0ba8-88e1bc19e12d'
                race_guid:
                  type: string
                  description: "Унікальний ідентифікатор запису таблиці види черг. Таблиця: Види черг(pq_queue)"
                  example: '0e6972a5-dffd-2d72-0ba8-88e1bc19e12d'
                direction:
                  type: string
                  enum: [loading, unloading]
                  description: "Напрямок черги(навантаження, розвантаження). Таблиця: Запити на чергу(pq_queue_request)"
                  example: loading
                source:
                  type: string
                  enum: [th, th_disp, bulkdata, track_check, admin]
                  description: "Джерело створення запиту на чергу. Таблиця: Запити на чергу(pq_queue_request)"
                  example: th
                check_geo:
                  type: boolean
                  enum: [1, 0]
                  description: "Ознака необхідності перевірки знаходження в зоні геолокації. Таблиця: Запити на чергу(pq_queue_request)"
                  example: 0
                is_by_driver:
                  type: boolean
                  enum: [1, 0]
                  description: "Ознака необхідності перевірки знаходження в зоні геолокації. Таблиця: Запити на чергу(pq_queue_request)"
                  example: 1
      responses:
        200:
          description: Запис створено
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
        400:
          description: Поганий запит
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_BadRequestNew'
        403:
          description: 'Клієнт немає прав доступу'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        404:
          description: Дані не знайдено
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_NoDataFoundNew'
      x-codegen-request-body-name: payload
  
  /races:
    post:
      tags:
        - 'T002 - Рейси'
      summary: Створення рейсу водієм/по наряду
      description: Точка створення рейсу водієм/по наряду
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              properties:
                race_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description:
                    'Унікальний ідентифікатор рейсу. Використовується для оновлення даних в існуючому рейсі.
                    Таблиця: Рейси (races)'
                vehicles_register_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description:
                    'Унікальний ідентифікатор наряду, на підставі якого буде створено рейс.
                    Таблиця: Наряди (request_vehicles_register)'
                request:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор заявки. Таблиця: Заявки (requests)'
                driver_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор водія. Таблиця: ТХ водії (th_drivers)'
                driver_phone:
                  type: string
                  example: 380673222858
                  description: Номер телефону водія
                driver_phone_additional:
                  type: string
                  example: 380676125881
                  description: Додатковий номер телефону водія
                driver_full_name:
                  type: string
                  example: Поташнік Василь Михайлович
                  description: ПІБ водія. Використовується клієнтом ТХ
                bot_driver_fullname:
                  type: string
                  example: Поташнік Василь Михайлович
                  description: ПІБ водія. Використовується клієнтом БОТа
                driver_cert:
                  type: string
                  example: КИА 64932
                  description: Посвідчення водія. Використовується клієнтом ТХ
                bot_driver_cert:
                  type: string
                  example: КИА 64932
                  description: Посвідчення водія. Використовується клієнтом БОТа
                vehicle_number:
                  type: string
                  example: BI7886CA
                  description: Державний номер транспортного засобу
                trailer_number:
                  type: string
                  example: АА0086CA
                  description: Державний номер причепу
                no_trailer:
                  type: integer
                  example: 1
                  description: Ознака наявності причепа. 1 - без причепу, 0 - з причепом.
                point_from_koatuu:
                  type: string
                  example: '5310100000'
                  description: Код КОАТУУ пункту навантаження. Використовується клієнтом ТХ
                point_to_koatuu:
                  type: string
                  example: '5310100000'
                  description: Код КОАТУУ пункту розвантаження. Використовується клієнтом ТХ
                point_from:
                  type: string
                  example: '5310100000'
                  description: Код КОАТУУ пункту навантаження. Використовується клієнтом БОТа
                point_to:
                  type: string
                  example: '5310100000'
                  description: Код КОАТУУ пункту розвантаження. Використовується клієнтом БОТа
                warehouse_from_code:
                  type: string
                  example: '5310100000008'
                  description: Код класифікатора складу навантаження.
                warehouse_to_code:
                  type: string
                  example: '5310100000001'
                  description: Код класифікатора складу розвантаження.
                carrier_name:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: Назва організації перевізника.
                carrier_guid:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: 'Унікальний ідентифікатор організації перевізника. Таблиця: ТХ організації (th_organisations)'
                carrier_contragent_guid:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: 'Унікальний ідентифікатор перевізника. Таблиця: Контрагенти (contragent)'
                sender_name:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: Назва відправника
                for_owner_name:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: Назва поклажодавця
                for_owner_code:
                  type: string
                  example: 5310100006
                  description: Код ЄДРПОУ поклажодавця
                for_owner_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор перевізника. Таблиця: Поклажодавці (pq_cargo_owner)'
                direction:
                  type: string
                  enum: [loading, unloading]
                  description: Напрямок (навантаження/розвантаження)
                distance:
                  type: integer
                  example: 750
                  description: Відстань
                travel_time:
                  type: integer
                  example: 600
                  description: Час подорожі
                channel:
                  type: string
                  example: telegram
                  description: Канал
                channel_chat:
                  type: string
                  example: 87158640
                  description: ID чату
                channel_user:
                  type: string
                  example: Ihor Neshyk
                  description: Користувач чату
                slack_channel_id:
                  type: string
                  example: 0001
                  description: ID каналу слак
                waybill:
                  type: string
                  example: 210329-00000099
                  description: Номер ТТН рейсу. Використовується клієнтом БОТа
                waybill_date:
                  type: string
                  example: 09.04.2021 15:21:08
                  description: Дата ТТН рейсу
                quantity:
                  type: string
                  example: 09.04.2021 15:21:08
                  description: Орієнтовний тоннаж по ТТН, тонн
                waybill_netto_in:
                  type: integer
                  example: 6000
                  description: Вага нетто отримувача, кг
                waybill_netto_out:
                  type: integer
                  example: 6000
                  description: Вага нетто відправника, кг
                waybill_tara:
                  type: integer
                  example: 2000
                  description: Вага тари відправника, кг
                no_waybill_weight:
                  type: integer
                  example: 0
                  description: Ознака невказаної ваги по ТТН. 1 - вагу не вказано, 0 - вагу вказано.
                goods_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор вантажу. Таблиця: Вантажі (goods). Використовується клієнтом БОТа'
                goods_name_ua:
                  type: string
                  example: Соняшник
                  description: 'Назва вантажу (укр.). Таблиця: Вантажі (goods).'
                goods_name_ru:
                  type: string
                  example: Подсолнух
                  description: 'Назва вантажу (рус.). Таблиця: Вантажі (goods).'
                barcode:
                  type: string
                  example: 894t367854t78382r
                  description: Шрихкод рейсу
                finish_date:
                  type: string
                  example: 09.04.2021 15:21:08
                  description: Дата закінчення
                user_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор користувача. Таблиця: ТХ користувачі (th_users)'
                handle_status:
                  type: string
[...]
