openapi: 3.0.0

info:
  title: Transithub API
  description: Колекція вузлів API логістики для порталу Trantihub
  version: 1.0.2

servers:
  - description: Development Server
    url: https://devkernel.apex.rest:8443/ords/kernel_logistic/v1/transithub

tags:
  - name: Інтерфейс водія
    description: Вузли для інтерфейсу водія
  - name: 'Т001 - Чорний список'
    description: Вузли для роботи з чорним списком
  - name: Поклажодавці
    description: Вузли для роботи з профілем черги
  - name: ТТН
    description: Вузли для роботи з товарно-транспортними накладними
  - name: Глобальні налаштування
    description: Глобальні налаштування для роботи Transithub
  - name: 'T002 - Наряди'
    description: Вузли для роботи з нарядами
  - name: 'T006 - Наряди (підписка до відправки)'
    description: Вузли для роботи з підпискою реєстру нарядів до відправки
  - name: 'T003 - Транспортні засоби'
    description: Вузли для роботи з транспортними засобами
  - name: 'T004 - Водії'
    description: Вузли для роботи з водіями
  - name: 'T007 - Заявки'
    description: Вузли для роботи із заявками
  - name: 'T005 - Заявки (к-сть нарядів)'
    description: Вузли для роботи з к-стю нарядів для заявки
  - name: Контрагенти
    description: Вузли для роботи з таблицею контрагентів
  - name: 'T008 - Статус водія'
    description: Вузол для роботи із зміною статусу водія
  - name: 'T009 - Закладки'
    description: Вузол для роботи із закладками користувача
  - name: 'T010 - Фільтри користувача'
    description: Вузол для роботи із фільтрами користувача та їх наборами
  - name: 'T011 - Статус ТЗ'
    description: Вузол для роботи із зміною статусу ТЗ
  - name: 'T013 - Документи'
    description: Вузол для роботи з документами
  - name: 'T014 - Файли (вкладення)'
    description: Вузол для роботи з файлами документу/рейсу
  - name: 'T015 - Організації компанії'
    description: Вузол для роботи з організаціями компанії
  - name: 'T016 - Акредитація'
    description: Вузол для роботи з точками АПІ підсистеми акредитації
  - name: 'T020 - Файли (вкладення)'
    description: Вузол для роботи з файлами документу/рейсу
  - name: 'T021 - Подорожній лист (інтерфейс водія)'
    description: Вузли для роботи водія із подорожніми листами
  - name: 'T022 - Подорожній лист'
    description: Вузли для роботи із подорожніми листами
  - name: 'Т023 - Статистика черги'
    description: Вузли для роботи зі статистикою черги
  - name: 'Т024 - Напрямки направлення'
    description: Вузли для роботи з напрямками направлення
  - name: 'Т025 - Верифікація'
    description: Верифікація документів рейсу
  - name: "Т026 - Направлення на в'їзд"
    description: "Вузли для роботи з документом Направлення на в'їзд"
  - name: 'T027 - Асистент направлень'
    description: 'Вузли для роботи з асистентом направлень'
  - name: 'T028 - Аутентифікація'
    description: 'Вузли для аутентифікації користувача'
  - name: 'T029 - Користувач'
    description: 'Вузол для отримання даних користувача'
  - name: 'T030 - Статистика ваги'
    description: 'Вузол для отримання приблизної необхідної ваги вантажу за номером тз та гуідом вантажу.'
  - name: 'T031 - Населені пункти'
    description: 'Вузол для отримання повної інформвції про територіальну одиницю.'
  - name: 'T032 - Склади'
    description: Вузол для отримання складу за його кодом або ж отримання складів за коатуу та гуідом профіля черг
  - name: 'T033 - Вантаж'
    description: Вузол для отримання всіх вантажів або ж для конкретних складів або профілів
  - name: 'Т034 - Статистика профіля/черги'
    description: Вузли для отримання статистики профіля/черги
  - name: 'Т035 - Журнал черг'
    description: Вузли для отримання журналу черг
  - name: 'Т036 - Технічний простій'
    description: Вузли для роботи з документами Технічний простій
  - name: 'Т037 - Профіль черги'
    description: Вузли для роботи з профілем черги
  - name: 'Т038 - Рейс'
    description: Вузли для роботи з рейсами
  - name: 'Т039 - Запити на чергу'
    description: Вузли для роботи з запитами на чергу

paths:
  /accreditations:
    get:
      tags:
        - 'T016 - Акредитація'
      summary: Отримання списку пар перевізника та замовника для акредитацій
      operationId: accreditationsGet
      description: |
        Точка отримання списку пар перевізника та замовника для акредитацій
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
        - in: query
          name: limit
          description: Пагінація (ліміт)
          schema:
            type: integer
        - in: query
          name: offset
          description: Пагінація (oффсет)
          schema:
            type: integer
        - in: query
          name: guid
          description: Унікальний ідентифікатор запису акредитації
          schema:
            type: string
        - in: query
          name: organization
          description: Унікальний ідентифікатор запису
          schema:
            type: string
        - in: query
          name: th_company_guid
          description: Унікальний ідентифікатор компанії
          schema:
            type: string
        - in: query
          name: vehicle_guid
          description: Унікальний ідентифікатор ТЗ
          schema:
            type: string
        - in: query
          name: processing_status
          description: Статус акредитації
          schema:
            type: string
      responses:
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequestNew'
        401:
          description: 'Клієнт не авторизований'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_UserisNotAuthorizedNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        500:
          description: 'Серверна помилка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
  /accreditations/documents:
    get:
      tags: ['T016 - Акредитація']
      summary: Отримання документів об'єкту для акредитації
      operationId: accreditationsDocumentsGet
      description: |
        Точка отримання документів об'єкту, що створенні для процесу акредитації
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
        - in: query
          name: limit
          description: Пагінація списку ліміт
          schema:
            type: integer
        - in: query
          name: offset
          description: Пагінація списку оффсет
          schema:
            type: integer
        - in: query
          name: owner_guid
          description: Унікальний ідентифікатор об'єкту (власника документів)
          schema:
            type: string
        - in: query
          name: owner_type
          description: Тип об'єкту (власника документів)
          schema:
            type: string
        - in: query
          name: guid
          description: Унікальний ідентифікатор документу
          schema:
            type: string
        - in: query
          name: document_status
          description: Статус документу
          schema:
            type: string
        - in: query
          name: document_type
          description: Тип документу
          schema:
            type: string
      responses:
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequestNew'
        401:
          description: 'Клієнт не авторизований'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_UserisNotAuthorizedNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        500:
          description: 'Серверна помилка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
  /accreditations/states:
    get:
      tags: ['T016 - Акредитація']
      summary: Отримання списку акредитацій для конкретного перевізника та замовника
      operationId: accreditationsStatesGet
      description: |
        Точка отримання списку акредитацій для конкретного перевізника та замовника
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
        - in: query
          name: limit
          description: Пагінація (ліміт)
          schema:
            type: integer
        - in: query
          name: offset
          description: Пагінація (oффсет)
          schema:
            type: integer
        - in: query
          name: guid
          description: Унікальний ідентифікатор запису акредитації
          schema:
            type: string
        - in: query
          name: organization
          description: Унікальний ідентифікатор замовника
          schema:
            type: string
        - in: query
          name: carrier_organization
          description: Унікальний ідентифікатор перевізника
          schema:
            type: string
        - in: query
          name: vehicle_guid
          description: Унікальний ідентифікатор ТЗ
          schema:
            type: string
        - in: query
          name: vehicle_number
          description: Унікальний реєстраційний номер ТЗ
          schema:
            type: string
        - in: query
          name: accreditation_available
          description: Доступність акредитації
          schema:
            type: integer
            enum: [1, 0, null]
      responses:
        200:
          description: 'Тіло відповіді'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
                  count:
                    type: integer
                    example: 1
                    description: Кількість знайдених результатів
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: boolean
                          description: Статус обробки запиту
                          example: true
                        guid:
                          type: string
                          description: 'Ідентифікатор записи стану акредитації. Таблиця: Стани акредитації(accreditation_state)'
                          format: uuid
                          example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                        processing_status:
                          type: string
                          description: "Статус обробки стану акредитації (чорновик, в процесі, відхилено, підтверджено). Таблиця: Стани акредитації(accreditation_state)"
                          enum:
                            [
                              draft,
                              in_progress,
                              cancelled,
                              confirmed
                            ]
                          example: in_progress
                        table_type:
                          type: string
                          description: "Тип таблиці (транспортні засоби, водії). Таблиця: Стани акредитації(accreditation_state)"
                          enum:
                            [
                              th_vehicles,
                              th_drivers
                            ]
                          example: th_vehicles
                        vehicle_guid:
                          type: string
                          description: 'Ідентифікатор записy таблиці транспортних засобів. Таблиця: транспортні засоби(th_vehicles)'
                          format: uuid
                          example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                        vehicle_number:
                          type: string
                          description: 'Державний номер транспортного засобу. Таблиця: транспортні засоби(th_vehicles)'
                          example: VASYA007
                        company_name:
                          type: string
                          description: 'Назва компанії. Таблиця: Компанії(th_companys)'
                          example: Черги КЕРНЕЛ
                        organization_name:
                          type: string
                          description: 'Назва організації. Таблиця: Організації(th_organisations)'
                          example: Черги КЕРНЕЛ
                        organization_guid:
                          type: string
                          description: 'Ідентифікатор записy таблиці організацій. Таблиця: Організації(th_organisations)'
                          format: uuid
                          example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                        carrier_company_name:
                          type: string
                          description: 'Назва компанії перевізника. Таблиця: Компанії(th_companys)'
                          example: Черги КЕРНЕЛ
                        carrier_company_guid:
                          type: string
                          description: 'Ідентифікатор записy таблиці компанії перевізника. Таблиця: Організації(th_organisations)'
                          format: uuid
                          example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                        carrier_organization_name:
                          type: string
                          description: 'Назва організації перевізника. Таблиця: Організації(th_organisations)'
                          example: Черги КЕРНЕЛ
                        carrier_organization_guid:
                          type: string
                          description: 'Ідентифікатор записy таблиці організації перевізника. Таблиця: Організації(th_organisations)'
                          format: uuid
                          example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                        created_at:
                          type: string
                          description: 'Дата і час створення запису. Таблиця: Стани акредитації(accreditation_state)'
                          example: 28.04.2021 18:41:52
                        has_documents:
                          type: boolean
                          description: Наявність прикріплених документів
                          example: true
                        requests_count:
                          type: integer
                          example: 1
                          description: Кількість запитів на акредитацію
                        accreditation_available:
                          type: integer
                          example: 1
                          enum: [1, 0]
                          description: Доступність акредитації
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequestNew'
        401:
          description: 'Клієнт не авторизований'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_UserisNotAuthorizedNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        500:
          description: 'Серверна помилка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
    post:
      tags: ['T016 - Акредитація']
      summary: Створення нового запису акредитації
      operationId: accreditationsStatesPost
      description: Точка створення запису акредитації для конкретного перевізника та замовника
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              description: 'required:
                - table_type
                - th_organisation_guid
                - th_carrier_organisation_guid
                - vehicles'
              properties:
                table_type:
                  type: string
                  description: "Тип таблиці (транспортні засоби, водії). Таблиця: Стани акредитації(accreditation_state)"
                  enum:
                    [
                      th_vehicles,
                      th_drivers
                    ]
                  example: th_vehicles
                processing_status:
                  type: string
                  description: "Статус обробки стану акредитації (чорновик, в процесі, відхилено, підтверджено). Таблиця: Стани акредитації(accreditation_state)"
                  enum:
                    [
                      draft,
                      in_progress,
                      cancelled,
                      confirmed
                    ]
                  example: in_progress
                th_driver_guid:
                  type: string
                  description: 'Ідентифікатор записy таблиці водіїв. Таблиця: водії(th_drivers)'
                  format: uuid
                  example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                th_company_guid:
                  type: string
                  description: 'Ідентифікатор записy таблиці компанії. Таблиця: Організації(th_organisations)'
                  format: uuid
                  example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                th_user_guid:
                  type: string
                  description: 'Ідентифікатор записy таблиці користувачів. Таблиця: Користувачі(th_users)'
                  format: uuid
                  example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                th_organization_guid:
                  type: string
                  description: 'Ідентифікатор записy таблиці організацій. Таблиця: Організації(th_organisations)'
                  format: uuid
                  example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                th_carrier_organisation_guid:
                  type: string
                  description: 'Ідентифікатор записy таблиці організацій первізника. Таблиця: Організації(th_organisations)'
                  format: uuid
                  example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                vehicles:
                  type: string
                  description: "Ідентифікатори записів таблиці транспортні засоби. Таблиця: транспортні засоби(th_vehicles)"
                  enum:
                    [
                      f11747b0-f51e-a10e-cceb-7c9fa1caf800,
                      f11747b0-f51e-a10e-cceb-7c9fa1caf878
                    ]
      responses:
        200:
          description: Дані рейсу водія
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AccreditationPostResponse'
                  - $ref: '#/components/schemas/_UserError'
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequestNew'
        401:
          description: 'Клієнт не авторизований'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_UserisNotAuthorizedNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        500:
          description: 'Серверна помилка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
    put:
      tags: ['T016 - Акредитація']
      summary: Оновлення запису акредитації
      operationId: accreditationsStatesPut
      description: |
        Точка оновлення запису акредитації для конкретного перевізника та замовника
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
        - in: query
          name: processing_status
          description: Статус запису акредитації
          schema:
            type: string
      responses:
        200:
          description: Дані рейсу водія
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/_StatusOnly'
                  - $ref: '#/components/schemas/_UserError'
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequestNew'
        401:
          description: 'Клієнт не авторизований'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_UserisNotAuthorizedNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        500:
          description: 'Серверна помилка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
    delete:
      tags: ['T016 - Акредитація']
      summary: Видалення запису акредитації
      operationId: accreditationsStatesDelete
      description: |
        Передавши відповідні параметри, ви видалите існуючий запис акредитації
      parameters:
        - name: client_token
          in: query
          description: Токен клієнта-споживача API Transithub
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          required: true
          schema:
            type: string
        - in: query
          name: guid
          description: Унікальний ідентифікатор запису акредитації
          schema:
            type: string
      responses:
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequestNew'
        401:
          description: 'Клієнт не авторизований'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_UserisNotAuthorizedNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        500:
          description: 'Серверна помилка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
  /accreditations/states/actions:
    get:
      tags: ['T016 - Акредитація']
      summary: Отримання списку дій для процесу акредитації
      operationId: accreditationsStatesActionsGet
      description: |
        Точка отримання списку дій для процесу акредитації
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
        - in: query
          name: state_guids
          description: Масив унікальних ідентифікаторів дій
          schema:
            type: string
      responses:
        200:
          description: 'Тіло відповіді'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
                  count:
                    type: integer
                    example: 1
                    description: Кількість знайдених результатів
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: "Код дії акредитації (Видалити чернетку, Відправити на акредитацію, Cкасувати акредитацію). Джерело: програмний код"
                          enum:
                            [
                              remove_draft,
                              get_accreditation,
                              cancel_accreditation
                            ]
                          example: get_accreditation
                        name_ua:
                          type: string
                          description: "Назва дії акредитації українською. Джерело: програмний код"
                          example: Відправити на акредитацію
                        name_ru:
                          type: string
                          description: "Назва дії акредитації російською. Джерело: програмний код"
                          example: Отправить на аккредитацию
                        disabled:
                          type: boolean
                          description: Доступність дії
                          example: true
                        disabled_text_ua:
                          type: string
                          description: "Причина недоступності дії українською. Таблиця: шаблони текстів (text_template)"
                          example: "Увага! В ТЗ відсутні заповнені дати реєстрацій. Заповніть в довіднику та перевиберіть ТЗ в реєстрі."
                        disabled_text_ru:
                          type: string
                          description: "Причина недоступності дії російською. Таблиця: шаблони текстів (text_template)"
                          example: "Слава Україні!"
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequestNew'
        401:
          description: 'Клієнт не авторизований'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_UserisNotAuthorizedNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        500:
          description: 'Серверна помилка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
  /accreditations/states/requests:
    get:
      tags: ['T016 - Акредитація']
      summary: Отримання списку запитів для акредитації
      operationId: accreditationsStatesRequestsGet
      description: |
        Точка отримання списку запитів для акредитації
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
        - in: query
          name: limit
          description: Пагінація (ліміт)
          schema:
            type: integer
        - in: query
          name: offset
          description: Пагінація (oффсет)
          schema:
            type: integer
        - in: query
          name: guid
          description: Унікальнй ідентифікатор запиту
          schema:
            type: string
        - in: query
          name: processing_status
          description: Статус акредитації
          schema:
            type: string
        - in: query
          name: kind
          description: Тип запиту
          schema:
            type: string
        - in: query
          name: request_status
          description: Статус запиту
          schema:
            type: string
        - in: query
          name: vehicle
          description: Унікальний реєстраційний номер ТЗ
          schema:
            type: string
        - in: query
          name: organization
          description: Унікальний ідентифікатор замовника
          schema:
            type: string
        - in: query
          name: carrier_organization
          description: Унікальний ідентифікатор перевізника
          schema:
            type: string
      responses:
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequestNew'
        401:
          description: 'Клієнт не авторизований'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_UserisNotAuthorizedNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        500:
          description: 'Серверна помилка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
  /authentication/check:
    post:
      tags: ['T028 - Аутентифікація']
      summary: Вхід в систему. Перевірити пін-код
      description:
        Точка аутентифікації користувача в системі. Перевірити пін-код надісланий за номером телефону
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: phone
          description: 'Номер телефону користувача.'
          required: true
          schema:
            type: string
        - in: query
          name: code
          description: 'Пін-код надісланий користувачу.'
          required: true
          schema:
            type: string
      responses:
        200:
          description: результат успішного виконання запиту
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: 'Результат виконання'
                  access_token:
                    type: string
                    example: eyAiYWxnIjogIkhTMjU2IiwgInR5cCI6ICJKV1QiIH0.eyAiaWF0IjogMTY1NTA3ODQwMCwgImlzcyI6ICJUUkFOU0lUSFVCIiwgInVzZXJfaWQiOiAiNTA0MSJ9.clP40kCYGzmsyyFl5Q3Wlw3JEtMGpVrwXWNDm-gH9KQ
                    description: 'Токен доступу користувача ТХ'
                  user_is_new:
                    type: boolean
                    example: true
                    description: 'Ознака створення нового користувача'
                  language:
                    type: string
                    enum: [ua, ru]
                    example: ua
                    description: 'Мова інтерфейсу користувача'
                  guid:
                    type: string
                    format: uuid
                    maxLength: 50
                    example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                    description: 'Ідентифікатор запису користувача ТХ, що відповідає водію (в байтах). Таблиця: ТХ користувачі(th_users)'
                  phone:
                    type: string
                    example: 380675559911
                    description: 'Номер телефону користувача (в байтах). Таблиця: ТХ користувачі(th_users)'
                  msg:
                    type: string
                    example: Codes do not match
                    description: 'Повідомлення користувачу. Константа'
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequest'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        500:
          description: 'Серверна помилка'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ComplexError'
  
  /blacklist/check:
    get:
      tags: ['Т001 - Чорний список']
      summary: Перевірка водія на признак наявності в чорному списку
      operationId: blackListCheckGet
      description: |
        Перевірка водія на признак наявності в чорному списку по номеру посвідчення/телефону
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: driver_cert
          description: Посвідчення водія (серія і номер)
          schema:
            type: string
        - in: query
          name: driver_phone
          description: Телефон водія
          schema:
            type: string
      responses:
        '200':
          description: Дані по приналежності до чорного списку
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: 'Статус відповіді'
                  in_blacklist:
                    type: boolean
                    example: false
                    description: 'Індикатор приналежності до чорного списку'
                  created_at:
                    type: string
                    example: '17.03.2021 00:00:00'
                    description: 'Дата внесення в чорний список'
                  text_ua:
                    type: string
                    example: 'Водій перебуває в \"Чорному списку\'
                    description: 'Текст повідомлення користувачу (українською)'
                  text_ru:
                    type: string
                    example: 'Водитель находится в \"Чорном списке\'
                    description: 'Текст повідомлення користувачу (російською)'
        '403':
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        '400':
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequest'
  /contragent:
    post:
      tags:
        - Контрагенти
      summary: Створити/оновити контрагента по коду ЕДРПОУ
      operationId: contragentPost
      description: |
        Передавши відповідні параметри, ви створите новий 
        або оновите існуючий (у випадку, якщо запис 
        з вказаним кодом ЕДРПОУ вже існує) запис контрагента.
      parameters:
        - name: client_token
          in: query
          description: Токен клієнта-споживача API Transithub
          required: true
          schema:
            type: string
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Назва контрагента
                  example: ТОВ Кернел-Трейд
                code:
                  type: string
                  description: Код ЕДРПОУ контрагента
                  example: '034556565646'
      responses:
        201:
          description: Запис створено
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
                  guid:
                    type: string
                    description: Унікальний ідентифікатор запису
                    format: uuid
                    example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                  name:
                    type: string
                    description: Назва контрагента
                    example: ТОВ Кернел-Трейд
                  edrpou:
                    type: string
                    description: Код ЕДРПОУ контрагента
                    example: '034556565646'
        200:
          description: Запис оновлено
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
                  guid:
                    type: string
                    description: Унікальний ідентифікатор запису
                    format: uuid
                    example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                  name:
                    type: string
                    description: Назва контрагента
                    example: ТОВ Кернел-Трейд
                  edrpou:
                    type: string
                    description: Код ЕДРПОУ контрагента
                    example: '034556565646'
        403:
          description: 'Клієнт немає прав доступу'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        400:
          description: Поганий запит
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_BadRequestNew'
      x-codegen-request-body-name: payload
    get:
      tags:
        - 'Контрагенти'
      summary: Вузол отримання всіх контрагентів (перевізників) по частині або повній назві
      operationId: warehousesGet
      description: |
        Вузол отримання всіх контрагентів (перевізників) по частині або повній назві
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: limit
          description: 'Обмеження кількості результатів, що виводяться'
          required: false
          schema:
            type: integer
            example: 2
        - in: query
          name: offset
          description: 'Величина, на яку зміщується початок виведення результатів пошуку'
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: search_text
          description: 'Назва або частина назви контрагента'
          required: false
          schema:
            type: string
            example: 'Агро'
      responses:
        '200':
          description: Знайдені контрагенти
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContragentsGet'
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
                  count:
                    type: integer
                    example: 2456
                    description: Кількість знайдених результатів
        '403':
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        500:
          description: server error
          content: {}
  
  /drivers:
    get:
      tags: ['T004 - Водії']
      summary: Отримання всіх (або ж одного) водіїв
      operationId: driversGet
      description: |
        Отримання всіх водіїв або ж лише одного
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: limit
          description: Пагінація списку ліміт
          schema:
            type: integer
        - in: query
          name: offset
          description: Пагінація списку оффсет
          schema:
            type: integer
        - in: query
          name: company_guid
          description: Унікальний ідентифікатор компанії
          schema:
            type: string
        - in: query
          name: guid
          description: Унікальний ідентифікатор водія
          schema:
            type: string
      responses:
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequest'
        401:
          description: 'Клієнт не авторизований'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_UserisNotAuthorizedNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
    post:
      tags: ['T004 - Водії']
      summary: Створення(реєстрація) нового водія в системі
      description:
        Точка реєстрації нового водія в системі
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              description: 'required:
                - first_name
                - middle_name
                - last_name
                - cert_serial_number
                - phone
                - company_guid'
              properties:
                first_name:
                  type: string
                  maxLength: 100
                  example: Микола
                  description: "Ім'я водія (в байтах). Таблиця: ТХ водії(th_drivers)"
                middle_name:
                  type: string
                  maxLength: 100
                  example: Володимирович
                  description: 'По-батькові водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                last_name:
                  type: string
                  maxLength: 100
                  example: Миколайчук
                  description: 'Прізвище водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                company_guid:
                  type: string
                  format: uuid
                  maxLength: 50
                  example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                  description: 'Ідентифікатор запису компанії ТХ (в байтах). Таблиця: ТХ компанії(th_companys)'
                user_guid:
                    type: string
                    format: uuid
                    maxLength: 50
                    example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                    description: 'Ідентифікатор запису користувача ТХ, що відповідає водію (в байтах). Таблиця: ТХ користувачі(th_users)'
                phone:
                  type: string
                  example: 380675559911
                  description: 'Номер телефону водія. Таблиця: ТХ водії(th_drivers)'
                phone_1:
                  type: string
                  example: 380675559911
                  description: 'Додатковий номер телефону водія. Таблиця: ТХ водії(th_drivers)'
                phone_2:
                  type: string
                  example: 380675559911
                  description: 'Додатковий номер телефону водія. Таблиця: ТХ водії(th_drivers)'
                email:
                  type: string
                  maxLength: 200
                  format: email
                  example: mykola
                  description: 'mykola@gmail.com (в байтах). Таблиця: ТХ водії(th_drivers)'
                cert_serial_number:
                  type: string
                  maxLength: 50
                  example: КВЕ415834
                  description: 'Серія та номер посвідчення водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                person_docs_type:
                  type: string
                  enum:
                    [
                      passport,
                      id_card
                    ]
                  example: passport
                  description: 'Тип документу, що посвідчує особу водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                pass_serial:
                  type: string
                  maxLength: 20
                  example: КР
                  description: 'Серія паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                pass_number:
                  type: string
                  maxLength: 40
                  example: КР
                  description: 'Номер паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                pass_issued:
                  type: string
                  maxLength: 800
                  example: КР
                  description: 'Де і ким видано паспорт водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                pass_date:
                  type: string
                  format: dd.mm.yyyy hh:mm:ss
                  example: 28.04.2021 00:00:00
                  description: 'Дата видачі паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                id_card_number:
                  type: string
                  maxLength: 20
                  example: 000009990
                  description: 'Номер ідентифікаційної картки водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                id_card_date:
                  type: string
                  format: dd.mm.yyyy hh:mm:ss
                  example: 28.04.2021 00:00:00
                  description: 'Дата видачі ідентифікаційної картки водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                id_card_issued:
                  type: string
                  format: dd.mm.yyyy hh:mm:ss
                  example: 28.04.2021 00:00:00
                  description: 'Де і ким видана ідентифікаційна картка водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                contact_info_type:
                  type: string
                  maxLength: 100
                  example: TELEGRAM
                  description: "Тип додаткової контактної інформації водія ТХ (в байтах). 
                    Таблиця: ТХ водій/Контактна інформація(th_drivers_contact_info)"
                contact_info_value:
                  type: string
                  maxLength: 500
                  example: 1115075380
                  description: "Значення додаткової контактної інформації водія ТХ (в байтах). 
                    Таблиця: ТХ водій/Контактна інформація(th_drivers_contact_info)"
                contact_info_description:
                  type: string
                  maxLength: 1000
                  example: Чат id TELEGRAM каналу
                  description: "Опис додаткової контактної інформації водія ТХ (в байтах). 
                    Таблиця: ТХ водій/Контактна інформація(th_drivers_contact_info)"
      responses:
        200:
          description: результат успішного виконання запиту
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  guid:
                    type: string
                    format: uuid
                    maxLength: 50
                    example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                    description: 'Ідентифікатор запису Водія ТХ (в байтах). Таблиця: ТХ водії(th_drivers)'
                  driver_status:
                    type: string
                    enum:
                      [
                        ARCHIVED,
                        ACTIVE
                      ]
                    example: ACTIVE
                    description: 'Статус водія: активний, в архіві. Таблиця: ТХ водії(th_drivers)'
                  first_name:
                    type: string
                    maxLength: 100
                    example: Микола
                    description: "Ім'я водія (в байтах). Таблиця: ТХ водії(th_drivers)"
                  middle_name:
                    type: string
                    maxLength: 100
                    example: Володимирович
                    description: 'По-батькові водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  last_name:
                    type: string
                    maxLength: 100
                    example: Миколайчук
                    description: 'Прізвище водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  name:
                    type: string
                    maxLength: 150
                    example: Миколайчук М. В.
                    description: 'ПІБ водія скорочене (в байтах). Таблиця: ТХ водії(th_drivers)'
                  full_name:
                    type: string
                    maxLength: 150
                    example: Миколайчук Микола Володимирович
                    description: 'ПІБ водія повне (в байтах). Таблиця: ТХ водії(th_drivers)'
                  cert_serial_number:
                    type: string
                    maxLength: 50
                    example: КВЕ415834
                    description: 'Серія та номер посвідчення водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  th_user_guid:
                    type: string
                    format: uuid
                    maxLength: 50
                    example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                    description: 'Ідентифікатор запису користувача ТХ, що відповідає водію (в байтах). Таблиця: ТХ користувачі(th_users)'
                  is_favorite:
                    type: integer
                    enum: [1,0]
                    example: 0
                    description: 'Інформація про те чи доданий водій в закладки, як улюблений'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        404:
          description: 'Дані не знайдено'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_NoDataFoundNew'
        500:
          description: server error
          content: {}
      x-codegen-request-body-name: body
    put:
      tags: ['T004 - Водії']
      summary: Оновлення існуючого водія
      description:
        Точка оновлення існуючого водія
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: guid
          format: uuid
          description: 'Ідентифікатор водія ТХ (в байтах). ТХ водії (th_drivers)'
          required: true
          schema:
            type: string
            example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
        - in: query
          name: company_guid
          format: uuid
          description: 'Ідентифікатор запису компанії ТХ (в байтах). Таблиця: ТХ компанії(th_companys)'
          schema:
            type: string
            example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
        - in: query
          name: user_guid
          format: uuid
          description: 'Ідентифікатор запису користувача ТХ, що відповідає водію (в байтах). Таблиця: ТХ користувачі(th_users)'
          schema:
            type: string
            example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              description:
              properties:
                first_name:
                  type: string
                  maxLength: 100
                  example: Андрій
                  description: "Ім'я водія (в байтах). Таблиця: ТХ водії(th_drivers)"
                middle_name:
                  type: string
                  maxLength: 100
                  example: Володимирович
                  description: 'По-батькові водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                last_name:
                  type: string
                  maxLength: 100
                  example: Астор
                  description: 'Прізвище водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                phone:
                  type: string
                  example: 380967001515
                  description: 'Номер телефону водія. Таблиця: ТХ водії(th_drivers)'
                phone_1:
                  type: string
                  example: 380967001515
                  description: 'Додатковий номер телефону водія. Таблиця: ТХ водії(th_drivers)'
                phone_2:
                  type: string
                  example: 380967001515
                  description: 'Додатковий номер телефону водія. Таблиця: ТХ водії(th_drivers)'
                email:
                  type: string
                  maxLength: 200
                  format: email
                  example: xxxxxx@gmail.com
                  description: 'xxxxxx@gmail.com (в байтах). Таблиця: ТХ водії(th_drivers)'
                cert_serial_number:
                  type: string
                  maxLength: 50
                  example: AAЕ415834
                  description: 'Серія та номер посвідчення водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                person_docs_type:
                  type: string
                  enum:
                    [
                      passport,
                      id_card
                    ]
                  example: passport
                  description: 'Тип документу, що посвідчує особу водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                pass_serial:
                  type: string
                  maxLength: 20
                  example: КР
                  description: 'Серія паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                pass_number:
                  type: string
                  maxLength: 40
                  example: '125652'
                  description: 'Номер паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                pass_issued:
                  type: string
                  maxLength: 800
                  example: 'Дунаєвецьким РВ УМВС'
                  description: 'Де і ким видано паспорт водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                pass_date:
                  type: string
                  format: dd.mm.yyyy hh:mm:ss
                  example: 28.04.2021 00:00:00
                  description: 'Дата видачі паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                id_card_number:
                  type: string
                  maxLength: 20
                  example: 000009990
                  description: 'Номер ідентифікаційної картки водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                id_card_date:
                  type: string
                  format: dd.mm.yyyy hh:mm:ss
                  example: 28.04.2021 00:00:00
                  description: 'Дата видачі ідентифікаційної картки водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                id_card_issued:
                  type: string
                  format: dd.mm.yyyy hh:mm:ss
                  example: 28.04.2021 00:00:00
                  description: 'Де і ким видана ідентифікаційна картка водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                date_of_birth:
                  type: string
                  example: 28.04.2021 00:00:00
                  description: "Дата народження водія. Таблиця: ТХ водії (th_drivers)"
                number_id:
                  type: string
                  maxLength: 500
                  example: 1111111111
                  description: "Iдентифікаційний номер водія. Таблиця: ТХ водії (th_drivers)"
      responses:
        200:
          description: результат успішного виконання запиту
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  guid:
                    type: string
                    format: uuid
                    maxLength: 50
                    example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                    description: 'Ідентифікатор запису Водія ТХ (в байтах). Таблиця: ТХ водії(th_drivers)'
                  driver_status:
                    type: string
                    enum:
                      [
                        ARCHIVED,
                        ACTIVE
                      ]
                    example: ACTIVE
                    description: 'Статус водія: активний, в архіві. Таблиця: ТХ водії(th_drivers)'
                  first_name:
                    type: string
                    maxLength: 100
                    example: Андрій
                    description: "Ім'я водія (в байтах). Таблиця: ТХ водії(th_drivers)"
                  middle_name:
                    type: string
                    maxLength: 100
                    example: Володимирович
                    description: 'По-батькові водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  last_name:
                    type: string
                    maxLength: 100
                    example: Астор
                    description: 'Прізвище водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  name:
                    type: string
                    maxLength: 150
                    example: Астор A. В.
                    description: 'ПІБ водія скорочене (в байтах). Таблиця: ТХ водії(th_drivers)'
                  full_name:
                    type: string
                    maxLength: 150
                    example: Астор Андрій Володимирович
                    description: 'ПІБ водія повне (в байтах). Таблиця: ТХ водії(th_drivers)'
                  phone:
                    type: string
                    example: 380967001515
                    description: 'Номер телефону водія. Таблиця: ТХ водії(th_drivers)'
                  cert_serial_number:
                    type: string
                    maxLength: 50
                    example: ААЕ415834
                    description: 'Серія та номер посвідчення водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  company_guid:
                    type: string
                    format: uuid
                    maxLength: 50
                    example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                    description: 'Ідентифікатор запису компанії, що відповідає водію (в байтах). Таблиця: ТХ користувачі(th_users)'
                  is_favorite:
                    type: integer
                    enum: [1,0]
                    example: 0
                    description: 'Інформація про те чи доданий водій в закладки'
                  is_in_blacklist:
                    type: integer
                    enum: [1,0]
                    example: 0
                    description: 'Інформація про те, чи доданий водій у чорний список'
                  is_trackcheckbot:
                    type: integer
                    enum: [1,0]
                    example: 0
                    description: 'Інформація про те, чи встановлений у водія ТрекЧекБот'
                  person_docs_type:
                    type: string
                    enum:
                      [
                        passport,
                        id_card
                      ]
                    example: passport
                    description: 'Тип документа, що посвідчує особу водія. Таблиця: ТХ водії(th_drivers)'
                  pass_serial:
                    type: string
                    maxLength: 20
                    example: КР
                    description: 'Серія паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  pass_number:
                    type: string
                    maxLength: 40
                    example: '165289'
                    description: 'Номер паспорта водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  pass_issued:
                    type: string
                    maxLength: 800
                    example: 'Дунаєвецьким РВ УМВС'
                    description: 'Де і ким видано паспорт водія (в байтах). Таблиця: ТХ водії(th_drivers)'
                  pass_date_utc:
                    type: string
                    example: 1990-07-12T00:00:00Z
                    description: "Дата видачі паспорта. Таблиця: ТХ водії (th_drivers)"
                  id_card_date_utc:
                    type: string
                    example: 1990-07-12T00:00:00Z
                    description: "Дата видачі id-карти. Таблиця: ТХ водії (th_drivers)"
                  date_of_birth_utc:
                    type: string
                    example: 1990-07-12T00:00:00Z
                    description: "Дата народження водія. Таблиця: ТХ водії (th_drivers)"
                  number_id:
                    type: string
                    maxLength: 500
                    example: 1111111111
                    description: "Iдентифікаційний номер водія. Таблиця: ТХ водії (th_drivers)"
        403:
          description: 'Клієнт не має прав доступу (фактично повертається HTTP status code 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        404:
          description: 'Дані не знайдено (фактично повертається HTTP status code 200)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_NoDataFoundNew'
        500:
          description: server error
          content: {}
  /driver.change_status:
    put:
      tags: ['T008 - Статус водія', 'T004 - Водії']
      summary: Оновлення статусу водія
      operationId: driverChangeStatusPut
      description: |
        Оновлення статусу ("В роботі"/"Архів") водія
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
        - in: query
          name: guid
          description: Унікальний ідентифікатор водія
          schema:
            type: string
      responses:
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequest'
        401:
          description: 'Клієнт не авторизований'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_UserisNotAuthorizedNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
  /driver/races:
    get:
      tags:
        - 'Т038 - Рейс'
      summary: Пошук рейсів водія (історія)
      operationId: driverRacesGet
      description: |
        Пошук рейсів водія у статусах "Відмінено" та "Завершено" по номеру телефону
        та унікальному ідентифікатору (пошук одного рейсу).
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
        - in: query
          name: phone
          description: Телефон водія
          schema:
            type: string
        - in: query
          name: guid
          description: Унікальний ідентифікатор рейсу
          schema:
            type: string
        - in: query
          name: is_driver_interface
          description: Значення(1,0). Ознака інтерфейса водія
          schema:
            type: integer
      responses:
        '200':
          description: Дані рейсу водія
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: 'Статус відповіді'
                  count:
                    type: integer
                    example: 3
                    description: 'Кількість записів'
                  items:
                    $ref: '#/components/schemas/DriverRace'
        '403':
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        '401':
          description: 'Користувач не авторизований'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_UserisNotAuthorized'
    post:
      tags:
        - 'Т038 - Рейс'
      summary: Створення рейсу водієм/по наряду
      description: Точка створення рейсу водієм/по наряду
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
            example: eyAiYWxnIjogIkhTMjU2IiwgInR5cCI6ICJKV1QiIH0.eyAiaWF0IjogMTYxOTEzNjAwMCwgImlzcyI6ICJUUkFOU0lUSFVCIiwgInVzZXJfZW1haWwiOiAic2hhbWF0aWVua28ueWFyb3NsYXZAZ21haWwuY29tIiwgInVzZXJfaWQiOiAiMjc1In0.SxKsJVFRW5GHJVUyapKZ3QV3ob4iM0rjq03TFsiAXpM
        - in: query
          name: with_barcode
          description: 'Признак, що рейс потрібно повертати із штрихкодом. Варіанти: 0, 1'
          schema:
            type: number
            example: 0
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              properties:
                race_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description:
                    'Унікальний ідентифікатор рейсу. Використовується для оновлення даних в існуючому рейсі.
                    Таблиця: Рейси (races)'
                vehicles_register_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description:
                    'Унікальний ідентифікатор наряду, на підставі якого буде створено рейс.
                    Таблиця: Наряди (request_vehicles_register)'
                request:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор заявки. Таблиця: Заявки (requests)'
                driver_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор водія. Таблиця: ТХ водії (th_drivers)'
                driver_phone:
                  type: string
                  example: 380673222858
                  description: Номер телефону водія
                driver_phone_additional:
                  type: string
                  example: 380676125881
                  description: Додатковий номер телефону водія
                driver_full_name:
                  type: string
                  example: Поташнік Василь Михайлович
                  description: ПІБ водія. Використовується клієнтом ТХ
                bot_driver_fullname:
                  type: string
                  example: Поташнік Василь Михайлович
                  description: ПІБ водія. Використовується клієнтом БОТа
                driver_cert:
                  type: string
                  example: КИА 64932
                  description: Посвідчення водія. Використовується клієнтом ТХ
                bot_driver_cert:
                  type: string
                  example: КИА 64932
                  description: Посвідчення водія. Використовується клієнтом БОТа
                vehicle_number:
                  type: string
                  example: BI7886CA
                  description: Державний номер транспортного засобу
                trailer_number:
                  type: string
                  example: АА0086CA
                  description: Державний номер причепу
                no_trailer:
                  type: integer
                  example: 1
                  description: Ознака наявності причепа. 1 - без причепу, 0 - з причепом.
                point_from_koatuu:
                  type: string
                  example: '5310100000'
                  description: Код КОАТУУ пункту навантаження. Використовується клієнтом ТХ
                point_to_koatuu:
                  type: string
                  example: '5310100000'
                  description: Код КОАТУУ пункту розвантаження. Використовується клієнтом ТХ
                point_from:
                  type: string
                  example: '5310100000'
                  description: Код КОАТУУ пункту навантаження. Використовується клієнтом БОТа
                point_to:
                  type: string
                  example: '5310100000'
                  description: Код КОАТУУ пункту розвантаження. Використовується клієнтом БОТа
                warehouse_from_code:
                  type: string
                  example: '5310100000008'
                  description: Код класифікатора складу навантаження.
                warehouse_to_code:
                  type: string
                  example: '5310100000001'
                  description: Код класифікатора складу розвантаження.
                carrier_name:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: Назва організації перевізника.
                carrier_guid:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: 'Унікальний ідентифікатор організації перевізника. Таблиця: ТХ організації (th_organisations)'
                carrier_contragent_guid:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: 'Унікальний ідентифікатор перевізника. Таблиця: Контрагенти (contragent)'
                sender_name:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: Назва відправника
                for_owner_name:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: Назва поклажодавця
                for_owner_code:
                  type: string
                  example: 5310100006
                  description: Код ЄДРПОУ поклажодавця
                for_owner_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор перевізника. Таблиця: Поклажодавці (pq_cargo_owner)'
                direction:
                  type: string
                  enum: [loading, unloading]
                  description: Напрямок (навантаження/розвантаження)
                distance:
                  type: integer
                  example: 750
                  description: Відстань
                travel_time:
                  type: integer
                  example: 600
                  description: Час подорожі
                channel:
                  type: string
                  example: telegram
                  description: Канал
                channel_chat:
                  type: string
                  example: 87158640
                  description: ID чату
                channel_user:
                  type: string
                  example: Ihor Neshyk
                  description: Користувач чату
                slack_channel_id:
                  type: string
                  example: 0001
                  description: ID каналу слак
                waybill:
                  type: string
                  example: 210329-00000099
                  description: Номер ТТН рейсу. Використовується клієнтом БОТа
                waybill_date:
                  type: string
                  example: 09.04.2021 15:21:08
                  description: Дата ТТН рейсу
                quantity:
                  type: string
                  example: 09.04.2021 15:21:08
                  description: Орієнтовний тоннаж по ТТН, тонн
                waybill_netto_in:
                  type: integer
                  example: 6000
                  description: Вага нетто отримувача, кг
                waybill_netto_out:
                  type: integer
                  example: 6000
                  description: Вага нетто відправника, кг
                waybill_tara:
                  type: integer
                  example: 2000
                  description: Вага тари відправника, кг
                no_waybill_weight:
                  type: integer
                  example: 0
                  description: Ознака невказаної ваги по ТТН. 1 - вагу не вказано, 0 - вагу вказано.
                goods_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор вантажу. Таблиця: Вантажі (goods). Використовується клієнтом БОТа'
                goods_name_ua:
                  type: string
                  example: Соняшник
                  description: 'Назва вантажу (укр.). Таблиця: Вантажі (goods).'
                goods_name_ru:
                  type: string
                  example: Подсолнух
                  description: 'Назва вантажу (рус.). Таблиця: Вантажі (goods).'
                barcode:
                  type: string
                  example: 894t367854t78382r
                  description: Шрихкод рейсу
                finish_date:
                  type: string
                  example: 09.04.2021 15:21:08
                  description: Дата закінчення
                user_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор користувача. Таблиця: ТХ користувачі (th_users)'
                handle_status:
                  type: string
                  enum: [inactive, dash, ready]
                  example: inactive
                  description: Cтатус виконання рейсу. Значення(неактивний, чорновик, готовий)
                customer_kt:
                  type: integer
                  example: 0
                  description: Вказує чи замовник є КТ(рейс створений по заявці). Значення(1, 0)
                creation_source:
                  type: string
                  enum: [th, th_disp, bulkdata, track_check]
                  example: bulkdata
                  description: Джерело створення рейсу
                comments:
                  type: string
                  example: Обміняю простору трьохкімнатну квартиру на козу
                  description: Комментар до рейсу
                lat:
                  type: number
                  example: 35,899
                  description: Широта останньої події
                lng:
                  type: number
                  example: 10,899
                  description: Довгота останньої події
                has_laboratory_test:
                  type: integer
                  enum: [0, 1]
                  description: 'Ознака наявності лабораторного аналізу. Таблиця: рейси(races)'
      responses:
        200:
          description: returns update results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: Статус відповіді
                  guid:
                    type: string
                    example: a5b7ff0a-8a0c-fcf6-c9ca-6372e229bea8
                    description: 'Унікальний ідентифікатор рейсу. Таблиця: Рейси (races)'
                  race_number:
                    type: string
                    example:
                    description: 'Номер рейсу. Таблиця: Рейси (races)'
                  race_date:
                    type: string
                    example: 09.04.2021 15:21:08
                    description: 'Дата створення рейсу. Таблиця: Рейси (races)'
                  phone:
                    type: string
                    example: 380673222858
                    description: 'Номер телефону водія. Таблиця: Рейси (races)'
                  request:
                    type: integer
                    example: 121212
                    description: 'Iдентифікатор заявки. Таблиця: Рейси (races)'
                  driver:
                    type: integer
                    example: 121212
                    description: 'Iдентифікатор водія. Таблиця: Рейси (races)'
                  created_at:
                    type: string
                    example: 2021-04-09T15:21:08Z
                    description: 'Дата створення рейсу. Таблиця: Рейси (races)'
                  warehouse_from:
                    type: string
                    example: 7120310100001
                    description: 'Склад навантаження, код класифікатора. Таблиця: Рейси (races)'
                  warehouse_to:
                    type: string
                    example: 7120310100001
                    description: 'Склад розвантаження, код класифікатора. Таблиця: Рейси (races)'
                  sender_name:
                    type: string
                    example: ТОВ "Кернел-трейд"
                    description: 'Назва вантажовідправника. Таблиця: Рейси (races)'
                  consignor_name:
                    type: string
                    example: ТОВ "Кернел-трейд"
                    description: 'Назва вантажовідправника. Таблиця: Рейси (races)'
                  consignor_reg_code:
                    type: string
                    example: 0898675453555
                    description: 'Код ЄДРПОУ вантажовідправника. Таблиця: Рейси (races)'
                  consignee_name:
                    type: string
                    example: ТОВ "Кернел-трейд"
                    description: 'Назва вантажоодержувача. Таблиця: Рейси (races)'
                  consignee_reg_code:
                    type: string
                    example: 0898675453555
                    description: 'Код ЄДРПОУ вантажоодержувача. Таблиця: Рейси (races)'
                  for_owner_name:
                    type: string
                    example: ТОВ "Кернел-трейд"
                    description: 'Назва поклажодавця. Таблиця: Рейси (races)'
                  for_owner_code:
                    type: string
                    example: 0898675453555
                    description: 'Код ЄДРПОУ поклажодавця. Таблиця: Рейси (races)'
                  distance:
                    type: integer
                    example: 123
                    description: 'Відстань. Таблиця: Рейси (races)'
                  travel_time:
                    type: integer
                    example: 8986
                    description: 'Час подорожі. Таблиця: Рейси (races)'
                  vehicle:
                    type: string
                    example: АХ2713АХ
                    description: 'Номер транспортного засобу. Таблиця: Рейси (races)'
                  trailer:
                    type: string
                    example: АА0086CA
                    description: 'Номер причепу. Таблиця: Рейси (races)'
                  race_status:
                    type: string
                    enum: [CANCELED, DONE, PAUSE, IN_PROGRESS, REGISTERED]
                    example: IN_PROGRESS
                    description:
                      'Статус рейсу. Значення(Зареєстровано, Виконується, Завершено, Відмінено, Пауза)
                      Таблиця: Рейси (races)'
                  waybill:
                    type: string
                    example: 210401-0012
                    description: 'Номер ТТН. Таблиця: Рейси (races)'
                  quantity:
                    type: string
                    example: 20
                    description: 'Орієнтований тонаж по ТТН. Таблиця: Рейси (races)'
                  goods:
                    type: integer
                    example: 12432424
                    description: 'Iдентифікатор вантажу. Таблиця: Рейси (races)'
                  finish_date:
                    type: string
                    example: 2021-04-09T15:21:08Z
                    description: 'Дата закінчення. Таблиця: Рейси (races)'
                  source:
                    type: string
                    enum: [th, th_disp, bulkdata, track_check]
                    example: bulkdata
                    description: 'Джерело створення рейсу. Таблиця: Рейси (races)'
                  channel:
                    type: string
                    example: telegram
                    description: 'Канал. Таблиця: Рейси (races)'
                  channel_chat:
                    type: string
                    example: 87158640
                    description: 'ID чату. Таблиця: Рейси (races)'
                  channel_user:
                    type: string
                    example: Ihor Neshyk
                    description: 'Користувач чату. Таблиця: Рейси (races)'
                  point_from:
                    type: string
                    example: '5310100000'
                    description: 'Код КОАТУУ пункту навантаження. Таблиця: Рейси (races)'
                  point_to:
                    type: string
                    example: '5310100000'
                    description: 'Код КОАТУУ пункту розвантаження. Таблиця: Рейси (races)'
                  bot_driver_fullname:
                    type: string
                    example: Поташнік Василь Михайлович
                    description: 'ПІБ водія. Таблиця: Рейси (races)'
                  bot_driver_cert:
                    type: string
                    example: КИА 64932
                    description: 'Посвідчення водія. Таблиця: Рейси (races)'
                  slack_channel_id:
                    type: string
                    example: 0001
                    description: 'ID каналу слак. Таблиця: Рейси (races)'
                  customer_kt:
                    type: integer
                    example: 0
                    description: 'Вказує чи замовник є КТ(рейс створений по заявці). Значення(1, 0). Таблиця: Рейси (races)'
                  customer_name:
                    type: string
                    example: ТОВ "Кернел-трейд"
                    description: 'Назва замовника. Таблиця: Рейси (races)'
                  customer_code:
                    type: string
                    example: 00999896666
                    description: 'Код ЄДРПОУ замовника. Таблиця: Рейси (races)'
                  th_carrier_org_name:
                    type: string
                    example: 00999896666
                    description: 'Назва організації перевізника. Таблиця: Рейси (races)'
                  driver_name:
                    type: string
                    example: Поташнік Василь Михайлович
                    description: 'ПІБ водія. Таблиця: ТХ водії (th_drivers)'
                  goods_name:
                    type: string
                    example: Соняшник високоолеїновий
                    description: 'Назва вантажу. Таблиця: Вантажі (goods)'
                  vehicles_register_guid:
                    type: string
                    example: a5b7ff0a-8a0c-fcf6-c9ca-6372e229bea8
                    description: 'Унікальний ідентифікатор наряду. Таблиця: Наряди (request_vehicles_register)'
                  warehouse_from_name:
                    type: string
                    example: Придніпровський ОЕЗ
                    description: 'Назва складу навантаження. Таблиця: Склади (warehouse)'
                  full_address_from:
                    type: string
                    example: Україна, Кіровоградська обл., м. Кропивницький, вулиця Мурманська 53
                    description: 'Повна адреса складу навантаження. Таблиця: Склади (warehouse)'
                  street_name_from:
                    type: string
                    example: Шевченка
                    description: 'Назва вулиці складу навантаження. Таблиця: Склади (warehouse)'
                  building_n_from:
                    type: string
                    example: 76
                    description: 'Номер будинку складу навантаження. Таблиця: Склади (warehouse)'
                  warehouse_to_name:
                    type: string
                    example: Придніпровський ОЕЗ
                    description: 'Назва складу розвантаження. Таблиця: Склади (warehouse)'
                  full_address_to:
                    type: string
                    example: Україна, Кіровоградська обл., м. Кропивницький, вулиця Мурманська 53
                    description: 'Повна адреса складу розвантаження. Таблиця: Склади (warehouse)'
                  street_name_to:
                    type: string
                    example: Шевченка
                    description: 'Назва вулиці складу розвантаження. Таблиця: Склади (warehouse)'
                  building_n_to:
                    type: string
                    example: 76
                    description: 'Номер будинку складу розвантаження. Таблиця: Склади (warehouse)'
        401:
          description: 'Користувач не авторизований'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_UserisNotAuthorized'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        404:
          description: 'Дані не знайдено'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_NoDataFound'
        500:
          description: server error
          content: {}
      x-codegen-request-body-name: body
    put:
      tags:
        - 'Т038 - Рейс'
      summary: Оновлення рейсу
      description: Точка оновлення рейсу
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              properties:
                race_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: Унікальний ідентифікатор рейсу
                phone:
                  type: string
                  example: 380963458965
                  description: Додатковий номер телефону водія
                driver_fullname:
                  type: string
                  example: Пастушок Леонід Леопольдович
                  description: ПІБ водія
                driver_cert:
                  type: string
                  example: ПР343434
                  description: Посвідчення водія (номер і серія)
                update_waybill:
                  type: integer
                  example: 1
                  description: |
                    Ознака, що вказує на необхідність оновлення 
                    даних в зв'язаній ТТН. Значення (0, 1)
                waybill_number:
                  type: string
                  example: ттн-0003
                  description: Номер ТТН
                consignor_name:
                  type: string
                  example: 'ТОВ Кернел-Трейд'
                  description: Назва вантажовідправника. Строка 250 символів"
                consignor_code:
                  type: string
                  example: '0999323388'
                  description: 'Код ЄДРПОУ вантажовідправника. Строка 10 символів'
                carrier_name:
                  type: string
                  example: 'ТОВ Кернел-Трейд'
                  description: Назва перевізника. Строка 250 символів"
                carrier_code:
                  type: string
                  example: '0999323388'
                  description: 'Код ЄДРПОУ перевізника. Строка 10 символів'
                customer_name:
                  type: string
                  example: 'ТОВ Кернел-Трейд'
                  description: Назва замовника. Строка 250 символів"
                customer_code:
                  type: string
                  example: '0999323388'
                  description: 'Код ЄДРПОУ замовника. Строка 10 символів'
                harvest_year:
                  type: string
                  example: '2020'
                  description: 'Рік врожаю'
                cargo_owner_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: Унікальний ідентифікатор поклажодавця
                operation_kind:
                  type: string
                  enum: [CARGO_OWNER_UPDATE, CARGO_OWNER_DEFAULT]
                  description: |
                    Вид операції оновлення. Якщо передано CARGO_OWNER_UPDATE - оновлюється інформація
                    поклажожавця в рейсі і підпорядкованій ТТН (якщо вона існує). В іншому випадку (CARGO_OWNER_DEFAULT або пусто)
                    відпрацьовує стандартний функціонал оновлення
                has_laboratory_test:
                  type: integer
                  enum: [0, 1]
                  description: 'Ознака наявності лабораторного аналізу. Таблиця: рейси(races)'
      responses:
        '200':
          description: returns update results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  race_guid:
                    type: string
                    example: a5b7ff0a-8a0c-fcf6-c9ca-6372e229bea8
        '403':
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        '401':
          description: 'Користувач не авторизований'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_UserisNotAuthorized'
        '500':
          description: 'Помилка сервера'
      x-codegen-request-body-name: body
  /driver/waybills:
    post:
      tags:
        - ТТН
      summary: Створення/оновлення ТТН на підставі рейсу
      description:
        Точка створення/оновлення ТТН, що використовує процедуру оновлення таблиці рейсів
        та створює/оновлює ТТН на підставі рейсу
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              properties:
                race_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: Унікальний ідентифікатор рейсу
                harvest_year:
                  type: string
                  example: '2020'
                  description: Рік врожаю
                cargo_owner_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: Унікальний ідентифікатор поклажодавця
                operation_kind:
                  type: string
                  enum: [CARGO_OWNER_UPDATE, CARGO_OWNER_DEFAULT]
                  description: Вид операції оновлення
                has_laboratory_test:
                  type: integer
                  example: 1
                  enum: [0, 1]
                  description: Ознака наявності лабораторного аналіза
                error_text_code:
                  type: string
                  example: '060'
                  description: 'Код шаблону сповіщення. Таблиця: шаблони текстів (text_template)'
                error_text_ua:
                  type: string
                  example: Редагування ТТН заборонено. Рейс створено з БалкДати.
                  description: 'Текст шаблону сповіщення українською. Таблиця: шаблони текстів (text_template)'
                error_text_ru:
                  type: string
                  example: Редактирование ТТН запрещено. Рейс создан из БалкДаты.
                  description: 'Текст шаблону сповіщення російською. Таблиця: шаблони текстів (text_template)'
      responses:
        200:
          description: returns update results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  race_guid:
                    type: string
                    example: a5b7ff0a-8a0c-fcf6-c9ca-6372e229bea8
                  harvest_year:
                    type: string
                    example: '2020'
                    description: Рік врожаю
        401:
          description: User is not authorized
          content: {}
        403:
          description: Client has no rights
          content: {}
        404:
          description: no data found
          content: {}
        500:
          description: server error
          content: {}
      x-codegen-request-body-name: body
  /driver/vehicles_registers:
    get:
      tags: ['T002 - Наряди']
      summary: Отримання всіх (або ж одного) нарядів водія
      operationId: DrivervehiclesRegistersGet
      description: |
        Отримання всіх нарядів для водія або ж лише одного
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          required: true
          schema:
            type: string
        - in: query
          name: limit
          description: 'Обмеження кількості результатів, що виводяться'
          required: false
          schema:
            type: integer
            example: 2
        - in: query
          name: offset
          description: 'Величина, на яку зміщується початок виведення результатів'
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: phone
          description: Номер телефону водія
          schema:
            type: string
        - in: query
          name: driver_status
          description: Статус водія
          schema:
            type: string
            enum: [actual, accepted, rejected]
        - in: query
          name: only_current_date
          description: 'Дата завантаження (заявка) = поточна дата'
          schema:
            type: number
            enum: [1]
        - in: query
          name: is_agro_active
          description: 'Відбір АГРОнарядів по активності. Якщо передано 1 - відповідь повертає тільки активні АГРОнаряди + ВСІ звичайні наряди (НЕ агронаряди)'
          schema:
            type: number
            enum: [1]
      responses:
        200:
          description: Дані наряду
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: 'Статус відповіді'
                  items:
                    $ref: '#/components/schemas/DriverVehicleRegister'
        401:
          description: 'Клієнт не авторизований (фактично повертається HTTP status code 200)'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_UserisNotAuthorizedNew'
        403:
[...]
