openapi: 3.0.0

info:
  title: Transithub API
  description: Колекція вузлів API логістики для порталу Trantihub
  version: 1.0.2

servers:
  - description: Development Server
    url: https://devkernel.apex.rest:8443/ords/kernel_logistic/v1/transithub

tags:
  - name: Інтерфейс водія
    description: Вузли для інтерфейсу водія
  - name: Рейс
    description: Вузли для роботи з рейсами
  - name: 'Т001 - Чорний список'
    description: Вузли для роботи з чорним списком
  - name: Профіль черги
    description: Вузли для роботи з профілем черги
  - name: Поклажодавці
    description: Вузли для роботи з профілем черги
  - name: ТТН
    description: Вузли для роботи з товарно-транспортними накладними
  - name: Глобальні налаштування
    description: Глобальні налаштування для роботи Transithub
  - name: 'T002 - Наряди'
    description: Вузли для роботи з нарядами
  - name: 'T006 - Наряди (підписка до відправки)'
    description: Вузли для роботи з підпискою реєстру нарядів до відправки
  - name: 'T003 - Транспортні засоби'
    description: Вузли для роботи з транспортними засобами
  - name: 'T004 - Водії'
    description: Вузли для роботи з водіями
  - name: 'T007 - Заявки'
    description: Вузли для роботи із заявками
  - name: 'T005 - Заявки (к-сть нарядів)'
    description: Вузли для роботи з к-стю нарядів для заявки
  - name: Контрагенти
    description: Вузли для роботи з таблицею контрагентів
  - name: 'T008 - Статус водія'
    description: Вузол для роботи із зміною статусу водія
  - name: 'T009 - Закладки'
    description: Вузол для роботи із закладками користувача
  - name: 'T010 - Фільтри користувача'
    description: Вузол для роботи із фільтрами користувача та їх наборами
  - name: 'T011 - Статус ТЗ'
    description: Вузол для роботи із зміною статусу ТЗ
  - name: 'T012 - Акредитація (документи)'
    description: Вузол для роботи з документами для акредитації
  - name: 'T013 - Документи'
    description: Вузол для роботи з документами
  - name: 'T014 - Файли (вкладення)'
    description: Вузол для роботи з файлами документу/рейсу
  - name: 'T015 - Організації компанії'
    description: Вузол для роботи з організаціями компанії
  - name: 'T016 - Акредитація (перелік акредитацій)'
    description: Вузол для роботи з акредитаціями (з переліком акредитацій)
  - name: 'T017 - Акредитація (перевізник/замовник)'
    description: Вузол для роботи з акредитаціями (з списком пар перевізника та замовника для акредитацій)
  - name: 'T018 - Акредитація (дії)'
    description: Вузол для роботи з акредитаціями (з діями)
  - name: 'T019 - Акредитація (запити)'
    description: Вузол для роботи з акредитаціями (із запитами)
  - name: 'T020 - Файли (вкладення)'
    description: Вузол для роботи з файлами документу/рейсу
  - name: 'T021 - Подорожній лист (інтерфейс водія)'
    description: Вузли для роботи водія із подорожніми листами
  - name: 'T022 - Подорожній лист'
    description: Вузли для роботи із подорожніми листами
  - name: 'Т023 - Статистика черги'
    description: Вузли для роботи зі статистикою черги
  - name: 'Т024 - Напрямки направлення'
    description: Вузли для роботи з напрямками направлення
  - name: 'Т025 - Верифікація'
    description: Верифікація документів рейсу
  - name: "Т026 - Направлення на в'їзд"
    description: "Вузли для роботи з документом Направлення на в'їзд"
  - name: 'T027 - Асистент направлень'
    description: 'Вузли для роботи з асистентом направлень'
  - name: 'T028 - Аутентифікація'
    description: 'Вузли для аутентифікації користувача'
  - name: 'T029 - Користувач'
    description: 'Вузол для отримання даних користувача'
  - name: 'T030 - Статистика ваги'
    description: 'Вузол для отримання приблизної необхідної ваги вантажу за номером тз та гуідом вантажу.'
  - name: 'T031 - Населені пункти'
    description: 'Вузол для отримання повної інформвції про територіальну одиницю.'
  - name: 'T032 - Склади'
    description: Вузол для отримання складу за його кодом або ж отримання складів за коатуу та гуідом профіля черг
  - name: 'T033 - Вантаж'
    description: Вузол для отримання всіх вантажів або ж для конкретних складів або профілів

paths:
  /blacklist/check:
    get:
      tags: ['Т001 - Чорний список']
      summary: Перевірка водія на признак наявності в чорному списку
      operationId: blackListCheckGet
      description: |
        Перевірка водія на признак наявності в чорному списку по номеру посвідчення/телефону
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: driver_cert
          description: Посвідчення водія (серія і номер)
          schema:
            type: string
        - in: query
          name: driver_phone
          description: Телефон водія
          schema:
            type: string
      responses:
        '200':
          description: Дані по приналежності до чорного списку
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: 'Статус відповіді'
                  in_blacklist:
                    type: boolean
                    example: false
                    description: 'Індикатор приналежності до чорного списку'
                  created_at:
                    type: string
                    example: '17.03.2021 00:00:00'
                    description: 'Дата внесення в чорний список'
                  text_ua:
                    type: string
                    example: 'Водій перебуває в \"Чорному списку\'
                    description: 'Текст повідомлення користувачу (українською)'
                  text_ru:
                    type: string
                    example: 'Водитель находится в \"Чорном списке\'
                    description: 'Текст повідомлення користувачу (російською)'
        '403':
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        '400':
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequest'
  /transithub/departure_assistant:
    get:
      tags: ['T027 - Асистент направлень']
      summary: Перевірка водія на признак наявності в чорному списку
      operationId: departureAssistantGet
      description: |
        Перевірка водія на признак наявності в чорному списку по номеру посвідчення/телефону
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: driver_cert
          description: Посвідчення водія (серія і номер)
          schema:
            type: string
        - in: query
          name: driver_phone
          description: Телефон водія
          schema:
            type: string
      responses:
        '200':
          description: Дані по приналежності до чорного списку
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: 'Статус відповіді'
                  in_blacklist:
                    type: boolean
                    example: false
                    description: 'Індикатор приналежності до чорного списку'
                  created_at:
                    type: string
                    example: '17.03.2021 00:00:00'
                    description: 'Дата внесення в чорний список'
                  text_ua:
                    type: string
                    example: 'Водій перебуває в \"Чорному списку\'
                    description: 'Текст повідомлення користувачу (українською)'
                  text_ru:
                    type: string
                    example: 'Водитель находится в \"Чорном списке\'
                    description: 'Текст повідомлення користувачу (російською)'
        '403':
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        '400':
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequest'
  
  /contragent:
    post:
      tags:
        - Контрагенти
      summary: Створити/оновити контрагента по коду ЕДРПОУ
      operationId: contragentPost
      description: |
        Передавши відповідні параметри, ви створите новий 
        або оновите існуючий (у випадку, якщо запис 
        з вказаним кодом ЕДРПОУ вже існує) запис контрагента.
      parameters:
        - name: client_token
          in: query
          description: Токен клієнта-споживача API Transithub
          required: true
          schema:
            type: string
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Назва контрагента
                  example: ТОВ Кернел-Трейд
                code:
                  type: string
                  description: Код ЕДРПОУ контрагента
                  example: '034556565646'
      responses:
        201:
          description: Запис створено
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
                  guid:
                    type: string
                    description: Унікальний ідентифікатор запису
                    format: uuid
                    example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                  name:
                    type: string
                    description: Назва контрагента
                    example: ТОВ Кернел-Трейд
                  edrpou:
                    type: string
                    description: Код ЕДРПОУ контрагента
                    example: '034556565646'
        200:
          description: Запис оновлено
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
                  guid:
                    type: string
                    description: Унікальний ідентифікатор запису
                    format: uuid
                    example: f11747b0-f51e-a10e-cceb-7c9fa1caf800
                  name:
                    type: string
                    description: Назва контрагента
                    example: ТОВ Кернел-Трейд
                  edrpou:
                    type: string
                    description: Код ЕДРПОУ контрагента
                    example: '034556565646'
        403:
          description: 'Клієнт немає прав доступу'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_ClientHasNoRightsNew'
        400:
          description: Поганий запит
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_BadRequestNew'
      x-codegen-request-body-name: payload
    get:
      tags:
        - 'Контрагенти'
      summary: Вузол отримання всіх контрагентів (перевізників) по частині або повній назві
      operationId: warehousesGet
      description: |
        Вузол отримання всіх контрагентів (перевізників) по частині або повній назві
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: limit
          description: 'Обмеження кількості результатів, що виводяться'
          required: false
          schema:
            type: integer
            example: 2
        - in: query
          name: offset
          description: 'Величина, на яку зміщується початок виведення результатів пошуку'
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: search_text
          description: 'Назва або частина назви контрагента'
          required: false
          schema:
            type: string
            example: 'Агро'
      responses:
        '200':
          description: Знайдені контрагенти
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContragentsGet'
                  status:
                    type: boolean
                    description: Статус обробки запиту
                    example: true
                  count:
                    type: integer
                    example: 2456
                    description: Кількість знайдених результатів
        '403':
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        500:
          description: server error
          content: {}
  /driver/races:
    get:
      tags:
        - Рейс
      summary: Пошук рейсів водія (історія)
      operationId: driverRacesStatusGet
      description: |
        Пошук рейсів водія у статусах "Відмінено" та "Завершено" по номеру телефону
        та унікальному ідентифікатору (пошук одного рейсу).
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
        - in: query
          name: phone
          description: Телефон водія
          schema:
            type: string
        - in: query
          name: guid
          description: Унікальний ідентифікатор рейсу
          schema:
            type: string
        - in: query
          name: is_driver_interface
          description: Значення(1,0). Ознака інтерфейса водія
          schema:
            type: integer
      responses:
        '200':
          description: Дані рейсу водія
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: 'Статус відповіді'
                  count:
                    type: integer
                    example: 3
                    description: 'Кількість записів'
                  items:
                    $ref: '#/components/schemas/DriverRace'
        '403':
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        '401':
          description: 'Користувач не авторизований'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_UserisNotAuthorized'
    post:
      tags:
        - Рейс
      summary: Створення рейсу водієм/по наряду
      description: Точка створення рейсу водієм/по наряду
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
            example: eyAiYWxnIjogIkhTMjU2IiwgInR5cCI6ICJKV1QiIH0.eyAiaWF0IjogMTYxOTEzNjAwMCwgImlzcyI6ICJUUkFOU0lUSFVCIiwgInVzZXJfZW1haWwiOiAic2hhbWF0aWVua28ueWFyb3NsYXZAZ21haWwuY29tIiwgInVzZXJfaWQiOiAiMjc1In0.SxKsJVFRW5GHJVUyapKZ3QV3ob4iM0rjq03TFsiAXpM
        - in: query
          name: with_barcode
          description: 'Признак, що рейс потрібно повертати із штрихкодом. Варіанти: 0, 1'
          schema:
            type: number
            example: 0
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              properties:
                race_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description:
                    'Унікальний ідентифікатор рейсу. Використовується для оновлення даних в існуючому рейсі.
                    Таблиця: Рейси (races)'
                vehicles_register_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description:
                    'Унікальний ідентифікатор наряду, на підставі якого буде створено рейс.
                    Таблиця: Наряди (request_vehicles_register)'
                request:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор заявки. Таблиця: Заявки (requests)'
                driver_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор водія. Таблиця: ТХ водії (th_drivers)'
                driver_phone:
                  type: string
                  example: 380673222858
                  description: Номер телефону водія
                driver_phone_additional:
                  type: string
                  example: 380676125881
                  description: Додатковий номер телефону водія
                driver_full_name:
                  type: string
                  example: Поташнік Василь Михайлович
                  description: ПІБ водія. Використовується клієнтом ТХ
                bot_driver_fullname:
                  type: string
                  example: Поташнік Василь Михайлович
                  description: ПІБ водія. Використовується клієнтом БОТа
                driver_cert:
                  type: string
                  example: КИА 64932
                  description: Посвідчення водія. Використовується клієнтом ТХ
                bot_driver_cert:
                  type: string
                  example: КИА 64932
                  description: Посвідчення водія. Використовується клієнтом БОТа
                vehicle_number:
                  type: string
                  example: BI7886CA
                  description: Державний номер транспортного засобу
                trailer_number:
                  type: string
                  example: АА0086CA
                  description: Державний номер причепу
                no_trailer:
                  type: integer
                  example: 1
                  description: Ознака наявності причепа. 1 - без причепу, 0 - з причепом.
                point_from_koatuu:
                  type: string
                  example: '5310100000'
                  description: Код КОАТУУ пункту навантаження. Використовується клієнтом ТХ
                point_to_koatuu:
                  type: string
                  example: '5310100000'
                  description: Код КОАТУУ пункту розвантаження. Використовується клієнтом ТХ
                point_from:
                  type: string
                  example: '5310100000'
                  description: Код КОАТУУ пункту навантаження. Використовується клієнтом БОТа
                point_to:
                  type: string
                  example: '5310100000'
                  description: Код КОАТУУ пункту розвантаження. Використовується клієнтом БОТа
                warehouse_from_code:
                  type: string
                  example: '5310100000008'
                  description: Код класифікатора складу навантаження.
                warehouse_to_code:
                  type: string
                  example: '5310100000001'
                  description: Код класифікатора складу розвантаження.
                carrier_name:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: Назва організації перевізника.
                carrier_guid:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: 'Унікальний ідентифікатор організації перевізника. Таблиця: ТХ організації (th_organisations)'
                carrier_contragent_guid:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: 'Унікальний ідентифікатор перевізника. Таблиця: Контрагенти (contragent)'
                sender_name:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: Назва відправника
                for_owner_name:
                  type: string
                  example: ТОВ Кернел Трейд
                  description: Назва поклажодавця
                for_owner_code:
                  type: string
                  example: 5310100006
                  description: Код ЄДРПОУ поклажодавця
                for_owner_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор перевізника. Таблиця: Поклажодавці (pq_cargo_owner)'
                direction:
                  type: string
                  enum: [loading, unloading]
                  description: Напрямок (навантаження/розвантаження)
                distance:
                  type: integer
                  example: 750
                  description: Відстань
                travel_time:
                  type: integer
                  example: 600
                  description: Час подорожі
                channel:
                  type: string
                  example: telegram
                  description: Канал
                channel_chat:
                  type: string
                  example: 87158640
                  description: ID чату
                channel_user:
                  type: string
                  example: Ihor Neshyk
                  description: Користувач чату
                slack_channel_id:
                  type: string
                  example: 0001
                  description: ID каналу слак
                waybill:
                  type: string
                  example: 210329-00000099
                  description: Номер ТТН рейсу. Використовується клієнтом БОТа
                waybill_date:
                  type: string
                  example: 09.04.2021 15:21:08
                  description: Дата ТТН рейсу
                quantity:
                  type: string
                  example: 09.04.2021 15:21:08
                  description: Орієнтовний тоннаж по ТТН, тонн
                waybill_netto_in:
                  type: integer
                  example: 6000
                  description: Вага нетто отримувача, кг
                waybill_netto_out:
                  type: integer
                  example: 6000
                  description: Вага нетто відправника, кг
                waybill_tara:
                  type: integer
                  example: 2000
                  description: Вага тари відправника, кг
                no_waybill_weight:
                  type: integer
                  example: 0
                  description: Ознака невказаної ваги по ТТН. 1 - вагу не вказано, 0 - вагу вказано.
                goods_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор вантажу. Таблиця: Вантажі (goods). Використовується клієнтом БОТа'
                goods_name_ua:
                  type: string
                  example: Соняшник
                  description: 'Назва вантажу (укр.). Таблиця: Вантажі (goods).'
                goods_name_ru:
                  type: string
                  example: Подсолнух
                  description: 'Назва вантажу (рус.). Таблиця: Вантажі (goods).'
                barcode:
                  type: string
                  example: 894t367854t78382r
                  description: Шрихкод рейсу
                finish_date:
                  type: string
                  example: 09.04.2021 15:21:08
                  description: Дата закінчення
                user_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: 'Унікальний ідентифікатор користувача. Таблиця: ТХ користувачі (th_users)'
                handle_status:
                  type: string
                  enum: [inactive, dash, ready]
                  example: inactive
                  description: Cтатус виконання рейсу. Значення(неактивний, чорновик, готовий)
                customer_kt:
                  type: integer
                  example: 0
                  description: Вказує чи замовник є КТ(рейс створений по заявці). Значення(1, 0)
                creation_source:
                  type: string
                  enum: [th, th_disp, bulkdata, track_check]
                  example: bulkdata
                  description: Джерело створення рейсу
                comments:
                  type: string
                  example: Обміняю простору трьохкімнатну квартиру на козу
                  description: Комментар до рейсу
                lat:
                  type: number
                  example: 35,899
                  description: Широта останньої події
                lng:
                  type: number
                  example: 10,899
                  description: Довгота останньої події
                has_laboratory_test:
                  type: integer
                  enum: [0, 1]
                  description: 'Ознака наявності лабораторного аналізу. Таблиця: рейси(races)'
      responses:
        200:
          description: returns update results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: Статус відповіді
                  guid:
                    type: string
                    example: a5b7ff0a-8a0c-fcf6-c9ca-6372e229bea8
                    description: 'Унікальний ідентифікатор рейсу. Таблиця: Рейси (races)'
                  race_number:
                    type: string
                    example:
                    description: 'Номер рейсу. Таблиця: Рейси (races)'
                  race_date:
                    type: string
                    example: 09.04.2021 15:21:08
                    description: 'Дата створення рейсу. Таблиця: Рейси (races)'
                  phone:
                    type: string
                    example: 380673222858
                    description: 'Номер телефону водія. Таблиця: Рейси (races)'
                  request:
                    type: integer
                    example: 121212
                    description: 'Iдентифікатор заявки. Таблиця: Рейси (races)'
                  driver:
                    type: integer
                    example: 121212
                    description: 'Iдентифікатор водія. Таблиця: Рейси (races)'
                  created_at:
                    type: string
                    example: 2021-04-09T15:21:08Z
                    description: 'Дата створення рейсу. Таблиця: Рейси (races)'
                  warehouse_from:
                    type: string
                    example: 7120310100001
                    description: 'Склад навантаження, код класифікатора. Таблиця: Рейси (races)'
                  warehouse_to:
                    type: string
                    example: 7120310100001
                    description: 'Склад розвантаження, код класифікатора. Таблиця: Рейси (races)'
                  sender_name:
                    type: string
                    example: ТОВ "Кернел-трейд"
                    description: 'Назва вантажовідправника. Таблиця: Рейси (races)'
                  consignor_name:
                    type: string
                    example: ТОВ "Кернел-трейд"
                    description: 'Назва вантажовідправника. Таблиця: Рейси (races)'
                  consignor_reg_code:
                    type: string
                    example: 0898675453555
                    description: 'Код ЄДРПОУ вантажовідправника. Таблиця: Рейси (races)'
                  consignee_name:
                    type: string
                    example: ТОВ "Кернел-трейд"
                    description: 'Назва вантажоодержувача. Таблиця: Рейси (races)'
                  consignee_reg_code:
                    type: string
                    example: 0898675453555
                    description: 'Код ЄДРПОУ вантажоодержувача. Таблиця: Рейси (races)'
                  for_owner_name:
                    type: string
                    example: ТОВ "Кернел-трейд"
                    description: 'Назва поклажодавця. Таблиця: Рейси (races)'
                  for_owner_code:
                    type: string
                    example: 0898675453555
                    description: 'Код ЄДРПОУ поклажодавця. Таблиця: Рейси (races)'
                  distance:
                    type: integer
                    example: 123
                    description: 'Відстань. Таблиця: Рейси (races)'
                  travel_time:
                    type: integer
                    example: 8986
                    description: 'Час подорожі. Таблиця: Рейси (races)'
                  vehicle:
                    type: string
                    example: АХ2713АХ
                    description: 'Номер транспортного засобу. Таблиця: Рейси (races)'
                  trailer:
                    type: string
                    example: АА0086CA
                    description: 'Номер причепу. Таблиця: Рейси (races)'
                  race_status:
                    type: string
                    enum: [CANCELED, DONE, PAUSE, IN_PROGRESS, REGISTERED]
                    example: IN_PROGRESS
                    description:
                      'Статус рейсу. Значення(Зареєстровано, Виконується, Завершено, Відмінено, Пауза)
                      Таблиця: Рейси (races)'
                  waybill:
                    type: string
                    example: 210401-0012
                    description: 'Номер ТТН. Таблиця: Рейси (races)'
                  quantity:
                    type: string
                    example: 20
                    description: 'Орієнтований тонаж по ТТН. Таблиця: Рейси (races)'
                  goods:
                    type: integer
                    example: 12432424
                    description: 'Iдентифікатор вантажу. Таблиця: Рейси (races)'
                  finish_date:
                    type: string
                    example: 2021-04-09T15:21:08Z
                    description: 'Дата закінчення. Таблиця: Рейси (races)'
                  source:
                    type: string
                    enum: [th, th_disp, bulkdata, track_check]
                    example: bulkdata
                    description: 'Джерело створення рейсу. Таблиця: Рейси (races)'
                  channel:
                    type: string
                    example: telegram
                    description: 'Канал. Таблиця: Рейси (races)'
                  channel_chat:
                    type: string
                    example: 87158640
                    description: 'ID чату. Таблиця: Рейси (races)'
                  channel_user:
                    type: string
                    example: Ihor Neshyk
                    description: 'Користувач чату. Таблиця: Рейси (races)'
                  point_from:
                    type: string
                    example: '5310100000'
                    description: 'Код КОАТУУ пункту навантаження. Таблиця: Рейси (races)'
                  point_to:
                    type: string
                    example: '5310100000'
                    description: 'Код КОАТУУ пункту розвантаження. Таблиця: Рейси (races)'
                  bot_driver_fullname:
                    type: string
                    example: Поташнік Василь Михайлович
                    description: 'ПІБ водія. Таблиця: Рейси (races)'
                  bot_driver_cert:
                    type: string
                    example: КИА 64932
                    description: 'Посвідчення водія. Таблиця: Рейси (races)'
                  slack_channel_id:
                    type: string
                    example: 0001
                    description: 'ID каналу слак. Таблиця: Рейси (races)'
                  customer_kt:
                    type: integer
                    example: 0
                    description: 'Вказує чи замовник є КТ(рейс створений по заявці). Значення(1, 0). Таблиця: Рейси (races)'
                  customer_name:
                    type: string
                    example: ТОВ "Кернел-трейд"
                    description: 'Назва замовника. Таблиця: Рейси (races)'
                  customer_code:
                    type: string
                    example: 00999896666
                    description: 'Код ЄДРПОУ замовника. Таблиця: Рейси (races)'
                  th_carrier_org_name:
                    type: string
                    example: 00999896666
                    description: 'Назва організації перевізника. Таблиця: Рейси (races)'
                  driver_name:
                    type: string
                    example: Поташнік Василь Михайлович
                    description: 'ПІБ водія. Таблиця: ТХ водії (th_drivers)'
                  goods_name:
                    type: string
                    example: Соняшник високоолеїновий
                    description: 'Назва вантажу. Таблиця: Вантажі (goods)'
                  vehicles_register_guid:
                    type: string
                    example: a5b7ff0a-8a0c-fcf6-c9ca-6372e229bea8
                    description: 'Унікальний ідентифікатор наряду. Таблиця: Наряди (request_vehicles_register)'
                  warehouse_from_name:
                    type: string
                    example: Придніпровський ОЕЗ
                    description: 'Назва складу навантаження. Таблиця: Склади (warehouse)'
                  full_address_from:
                    type: string
                    example: Україна, Кіровоградська обл., м. Кропивницький, вулиця Мурманська 53
                    description: 'Повна адреса складу навантаження. Таблиця: Склади (warehouse)'
                  street_name_from:
                    type: string
                    example: Шевченка
                    description: 'Назва вулиці складу навантаження. Таблиця: Склади (warehouse)'
                  building_n_from:
                    type: string
                    example: 76
                    description: 'Номер будинку складу навантаження. Таблиця: Склади (warehouse)'
                  warehouse_to_name:
                    type: string
                    example: Придніпровський ОЕЗ
                    description: 'Назва складу розвантаження. Таблиця: Склади (warehouse)'
                  full_address_to:
                    type: string
                    example: Україна, Кіровоградська обл., м. Кропивницький, вулиця Мурманська 53
                    description: 'Повна адреса складу розвантаження. Таблиця: Склади (warehouse)'
                  street_name_to:
                    type: string
                    example: Шевченка
                    description: 'Назва вулиці складу розвантаження. Таблиця: Склади (warehouse)'
                  building_n_to:
                    type: string
                    example: 76
                    description: 'Номер будинку складу розвантаження. Таблиця: Склади (warehouse)'
        401:
          description: 'Користувач не авторизований'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_UserisNotAuthorized'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        404:
          description: 'Дані не знайдено'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_NoDataFound'
        500:
          description: server error
          content: {}
      x-codegen-request-body-name: body
    put:
      tags:
        - Рейс
      summary: Оновлення рейсу
      description: Точка оновлення рейсу
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              properties:
                race_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: Унікальний ідентифікатор рейсу
                phone:
                  type: string
                  example: 380963458965
                  description: Додатковий номер телефону водія
                driver_fullname:
                  type: string
                  example: Пастушок Леонід Леопольдович
                  description: ПІБ водія
                driver_cert:
                  type: string
                  example: ПР343434
                  description: Посвідчення водія (номер і серія)
                update_waybill:
                  type: integer
                  example: 1
                  description: |
                    Ознака, що вказує на необхідність оновлення 
                    даних в зв'язаній ТТН. Значення (0, 1)
                waybill_number:
                  type: string
                  example: ттн-0003
                  description: Номер ТТН
                consignor_name:
                  type: string
                  example: 'ТОВ Кернел-Трейд'
                  description: Назва вантажовідправника. Строка 250 символів"
                consignor_code:
                  type: string
                  example: '0999323388'
                  description: 'Код ЄДРПОУ вантажовідправника. Строка 10 символів'
                carrier_name:
                  type: string
                  example: 'ТОВ Кернел-Трейд'
                  description: Назва перевізника. Строка 250 символів"
                carrier_code:
                  type: string
                  example: '0999323388'
                  description: 'Код ЄДРПОУ перевізника. Строка 10 символів'
                customer_name:
                  type: string
                  example: 'ТОВ Кернел-Трейд'
                  description: Назва замовника. Строка 250 символів"
                customer_code:
                  type: string
                  example: '0999323388'
                  description: 'Код ЄДРПОУ замовника. Строка 10 символів'
                harvest_year:
                  type: string
                  example: '2020'
                  description: 'Рік врожаю'
                cargo_owner_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: Унікальний ідентифікатор поклажодавця
                operation_kind:
                  type: string
                  enum: [CARGO_OWNER_UPDATE, CARGO_OWNER_DEFAULT]
                  description: |
                    Вид операції оновлення. Якщо передано CARGO_OWNER_UPDATE - оновлюється інформація
                    поклажожавця в рейсі і підпорядкованій ТТН (якщо вона існує). В іншому випадку (CARGO_OWNER_DEFAULT або пусто)
                    відпрацьовує стандартний функціонал оновлення
                has_laboratory_test:
                  type: integer
                  enum: [0, 1]
                  description: 'Ознака наявності лабораторного аналізу. Таблиця: рейси(races)'
      responses:
        '200':
          description: returns update results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  race_guid:
                    type: string
                    example: a5b7ff0a-8a0c-fcf6-c9ca-6372e229bea8
        '403':
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        '401':
          description: 'Користувач не авторизований'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_UserisNotAuthorized'
        '500':
          description: 'Помилка сервера'
      x-codegen-request-body-name: body
  /driver/waybills:
    post:
      tags:
        - ТТН
      summary: Створення/оновлення ТТН на підставі рейсу
      description:
        Точка створення/оновлення ТТН, що використовує процедуру оновлення таблиці рейсів
        та створює/оновлює ТТН на підставі рейсу
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
      requestBody:
        description: тіло запиту
        content:
          application/json:
            schema:
              type: object
              properties:
                race_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: Унікальний ідентифікатор рейсу
                harvest_year:
                  type: string
                  example: '2020'
                  description: Рік врожаю
                cargo_owner_guid:
                  type: string
                  example: 8fd36c30-7b4b-a698-d259-0272dddca8e4
                  description: Унікальний ідентифікатор поклажодавця
                operation_kind:
                  type: string
                  enum: [CARGO_OWNER_UPDATE, CARGO_OWNER_DEFAULT]
                  description: Вид операції оновлення
                has_laboratory_test:
                  type: integer
                  example: 1
                  enum: [0, 1]
                  description: Ознака наявності лабораторного аналіза
                error_text_code:
                  type: string
                  example: '060'
                  description: 'Код шаблону сповіщення. Таблиця: шаблони текстів (text_template)'
                error_text_ua:
                  type: string
                  example: Редагування ТТН заборонено. Рейс створено з БалкДати.
                  description: 'Текст шаблону сповіщення українською. Таблиця: шаблони текстів (text_template)'
                error_text_ru:
                  type: string
                  example: Редактирование ТТН запрещено. Рейс создан из БалкДаты.
                  description: 'Текст шаблону сповіщення російською. Таблиця: шаблони текстів (text_template)'
      responses:
        200:
          description: returns update results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  race_guid:
                    type: string
                    example: a5b7ff0a-8a0c-fcf6-c9ca-6372e229bea8
                  harvest_year:
                    type: string
                    example: '2020'
                    description: Рік врожаю
        401:
          description: User is not authorized
          content: {}
        403:
          description: Client has no rights
          content: {}
        404:
          description: no data found
          content: {}
        500:
          description: server error
          content: {}
      x-codegen-request-body-name: body
  /driver/vehicles_registers:
    get:
      tags: ['T002 - Наряди']
      summary: Отримання всіх (або ж одного) нарядів водія
      operationId: DrivervehiclesRegistersGet
      description: |
        Отримання всіх нарядів для водія або ж лише одного
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          required: true
          schema:
            type: string
        - in: query
          name: limit
          description: 'Обмеження кількості результатів, що виводяться'
          required: false
          schema:
            type: integer
            example: 2
        - in: query
          name: offset
          description: 'Величина, на яку зміщується початок виведення результатів'
          required: false
          schema:
            type: integer
            example: 1
        - in: query
          name: phone
          description: Номер телефону водія
          schema:
            type: string
        - in: query
          name: driver_status
          description: Статус водія
          schema:
            type: string
            enum: [actual, accepted, rejected]
        - in: query
          name: only_current_date
          description: 'Дата завантаження (заявка) = поточна дата'
          schema:
            type: number
            enum: [1]
      responses:
        200:
          description: Дані наряду
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: 'Статус відповіді'
                  items:
                    $ref: '#/components/schemas/DriverVehicleRegister'
        400:
          description: 'Поганий запит'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_BadRequestNew'
        401:
          description: 'Клієнт не авторизований'
          content:
            application/json:
              schema:
                name: error
                $ref: '#/components/schemas/_UserisNotAuthorizedNew'
        403:
          description: 'Клієнт не має прав доступу'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_ClientHasNoRights'
        404:
          description: 'Дані не знайдено'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_NoDataFound'
        500:
          description: server error
          content: {}
  /driver/races/status:
    get:
      tags:
        - Рейс
      summary: Пошук актуальний рейсу водія
      operationId: driverRacesStatusGet
      description: |
        Пошук актуального рейсу водія та додаткової інформації по номеру телефону водія або номеру транспортного засобу
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
        - in: query
          name: driver_phone
          description: Телефон водія
          schema:
            type: string
        - in: query
          name: vehicle_number
          description: Номер транспортного засобу
          schema:
            type: string
      responses:
        '200':
          description: Дані актуального рейсу
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    description: 'Статус відповіді'
                  race_status:
                    type: string
                    example: 'IN_PROGRESS'
                    description: 'Статус рейсу. Варіанти: REGISTERED, IN_PROGRESS, DONE, CANCELED, PAUSE. Таблиця: Рейси (races)'
                  guid:
                    type: string
                    example: '685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa'
                    description: 'Гуід рейсу. Таблиця: Рейси (races)'
                  number:
                    type: string
                    example: '200827-0192'
                    description: 'Номер рейсу. Таблиця: Рейси (races)'
                  date:
                    type: string
                    example: '27.08.2020 22:24:19'
                    description: 'Дата рейсу. Таблиця: Рейси (races)'
                  source:
                    type: string
                    example: 'track_check'
                    description: 'Джерело рейсу. Таблиця: Рейси (races)'
                  profile_from_cargo_owner_accessible:
                    type: integer
                    example: 1
                    description: 'Ознака доступності поклажодавця для профіля черги навантаження. Таблиця: Профілі черги (pq_queue_profiles)'
                  profile_to_cargo_owner_accessible:
                    type: integer
                    example: 1
                    description: 'Ознака доступності поклажодавця для профіля черги розвантаження. Таблиця: Профілі черги (pq_queue_profiles)'
                  for_owner_name:
                    type: string
                    example: 'ТОВ Кернел-Трейд'
                    description: 'Назва поклажодавця. Таблиця: Рейси (races)'
                  for_owner_code:
                    type: string
                    example: '068787868888'
                    description: 'Код ЄДРПОУ поклажодавця. Таблиця: Рейси (races)'
                  for_owner_comments:
                    type: string
                    example: 'Коментар'
                    description: 'Примітка поклажодавця. Таблиця: Рейси (races)'
                  for_owner_guid:
                    type: string
                    example: '685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa'
                    description: 'Унікальний ідентифікатор поклажодавця. Таблиця: Рейси (races)'
                  queue_from_registration_source:
                    type: string
                    example: 'track_check'
                    description: 'Джерело реєстрації в черзі на завантаження. Таблиця: Статистика рейсу (race_statistics)'
                  queue_to_registration_source:
                    type: string
                    example: 'track_check'
                    description: 'Джерело реєстрації в черзі на розвантаження. Таблиця: Статистика рейсу (race_statistics)'
                  entry_guid_track:
                    type: string
                    example: '685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa'
                    description: 'Entry Guid Track. Таблиця: Рейси (races)'
                  barcode:
                    type: string
                    example: '335060005532965762747441881103117533991'
                    description: 'Штрихкод. Генерується на основі Entry Guid Track. Таблиця: Рейси (races)'
                  queue_from_registered_date:
                    type: string
                    example: '27.08.2020 22:24:19'
                    description: 'Дата реєстрації в черзі на завантаження. Таблиця: Статистика рейсу (race_statistics)'
                  queue_to_registered_date:
                    type: string
                    example: '27.08.2020 22:24:19'
                    description: 'Дата реєстрації в черзі на розвантаження. Таблиця: Статистика рейсу (race_statistics)'
                  queue_from_timing_out_1:
                    type: string
                    example: '27.08.2020 22:24:19'
                    description: 'Таймінг вибуття 1 на завантаження. Таблиця: Статистика рейсу (race_statistics)'
                  queue_from_timing_out_2:
                    type: string
                    example: '27.08.2020 22:24:19'
                    description: 'Таймінг вибуття 2 на завантаження. Таблиця: Статистика рейсу (race_statistics)'
                  queue_to_timing_out_1:
                    type: string
                    example: '27.08.2020 22:24:19'
                    description: 'Таймінг вибуття 1 на розвантаження. Таблиця: Статистика рейсу (race_statistics)'
                  queue_to_timing_out_2:
                    type: string
                    example: '27.08.2020 22:24:19'
                    description: 'Таймінг вибуття 2 на розвантаження. Таблиця: Статистика рейсу (race_statistics)'
                  vehicle_register_guid:
                    type: string
                    example: '685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa'
                    description: 'Гуід наряду. Таблиця: Наряди (request_vehicle_register)'
                  request_guid:
                    type: string
                    example: '685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa'
                    description: 'Гуід заявки. Таблиця: Заявка (requests)'
                  request_client_number:
                    type: string
                    example: 'Z_058436'
                    description: 'Клієнтський номер заявки. Таблиця: Заявка (requests)'
                  manager_name:
                    type: string
                    example: 'Сергій Юрійович Курбатов'
                    description: 'Назва менеджера. Таблиця: Заявка (requests)'
                  manager_phone:
                    type: string
                    example: '380999999999'
                    description: 'Телефон менеджера. Таблиця: Заявка (requests)'
                  manager_email:
                    type: string
                    example: 'manager@kernel.ua'
                    description: 'Електронна пошта менеджера. Таблиця: Заявка (requests)'
                  additional_info:
                    type: string
                    example: 'Будь-який текст'
                    description: 'Коментар до заявки. Таблиця: Заявка (requests)'
                  additional_info_2:
                    type: string
                    example: 'Додатковий текст'
                    description: 'Додатковий коментар до заявки. Таблиця: Заявка (requests)'
                  vehicle_number:
                    type: string
                    example: 'ВА8783СС'
                    description: 'Реєстраційний номер транспортного засобу. Таблиця: Рейси (races)'
                  trailer_number:
                    type: string
                    example: 'ВА3272ХО'
                    description: 'Реєстраційний номер причіпу. Якщо рейс без причіпу, то значення - no_trailer. Таблиця: Рейси (races)'
                  no_trailer:
                    type: number
                    example: 1
                    description: 'Признак відсутності причіпу. 1 - відсутній. Якщо причіп вказано в рейсів, то даний ключ не передається. Таблиця: Рейси (races)'
                  consignor_name:
                    type: string
                    example: 'ПРАТ Кропивницький ОЕЗ'
                    description: 'Назва вантажовідправника. Таблиця: Рейси (races)'
                  consignor_code:
                    type: string
                    example: '999999999'
                    description: 'Код ЄДРПОУ вантажовідправника. Таблиця: Рейси (races)'
                  consignee_name:
                    type: string
                    example: 'ПРАТ Кропивницький ОЕЗ'
                    description: 'Назва вантажоотримувача. Таблиця: Рейси (races)'
                  consignee_code:
                    type: string
                    example: '999999999'
                    description: 'Код ЄДРПОУ вантажоотримувача. Таблиця: Рейси (races)'
                  driver_guid:
                    type: string
                    example: '685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa'
                    description: 'Гуід водія. Таблиця: Водії ТХ (th_drivers)'
                  driver_fullname:
                    type: string
                    example: 'Шевченко Тарас Григорович'
                    description: 'Повна назва водія. Таблиця: Водії ТХ (th_drivers)'
                  driver_phone:
                    type: string
                    example: '380999999999'
                    description: 'Номер телефону водія. Таблиця: Рейси (races)'
                  driver_phone_additional:
                    type: string
                    example: '380999999999'
                    description: 'Додатковий номер телефону водія. Таблиця: Рейси (races)'
                  driver_cert:
                    type: string
                    example: 'КВІ111111'
                    description: 'Сертифікат водія. Таблиця: Рейси (races)'
                  driver_id_card:
                    type: string
                    example: 'КВІ111111'
                    description: 'ID-карта водія. Таблиця: Водії ТХ по наряду рейсу (th_drivers)'
                  driver_id_card_date:
                    type: string
                    example: '27.08.2020'
                    description: 'Дата ID-карти водія. Таблиця: Водії ТХ по наряду рейсу (th_drivers)'
                  driver_id_card_issued:
                    type: string
                    example: '27.08.2020'
                    description: 'Місце видачі ID-карти водія. Таблиця: Водії ТХ по наряду рейсу (th_drivers)'
                  person_docs_type:
                    type: string
                    example: 'passport'
                    description: 'Тип документу водія. Варіанти: passport, id_card. Таблиця: Водії ТХ по наряду рейсу (th_drivers)'
                  pass_serial:
                    type: string
                    example: 'СМ'
                    description: 'Серія паспорту водія. Таблиця: Водії ТХ по наряду рейсу (th_drivers)'
                  pass_number:
                    type: string
                    example: '3456'
                    description: 'Номер паспорту водія. Таблиця: Водії ТХ по наряду рейсу (th_drivers)'
                  pass_date:
                    type: string
                    example: '27.08.2020'
                    description: 'Дата видачі паспорту водія. Таблиця: Водії ТХ по наряду рейсу (th_drivers)'
                  pass_issued:
                    type: string
                    example: 'Місцевим РВ МВС'
                    description: 'Місце видачі паспорту водія. Таблиця: Водії ТХ по наряду рейсу (th_drivers)'
                  distance:
                    type: number
                    example: '20'
                    description: 'Відстань по заявці. Таблиця: Таблиця: Заявка (requests)'
                  route:
                    type: string
                    example: 'https:\/\/www.google.com\/maps\/dir\/?api=1&origin=49.0750249,29.6002885&destination=48.512828,32.246397&waypoints=49.0748577,29.5991683|49.11226629999999,29.6139251|49.11226629999999,29.6139251|49.11254350000001,29.6142191|49.11254350000001,29.6142191|49.01441639999999,29.7081856|49.01441639999999,29.7081856|49.0077767,29.7027976|49.0077767,29.7027976|49.0057127,29.7606889|49.0057127,29.7606889|48.9955309,29.8072143|48.9955309,29.8072143|48.99371,29.8076215|48.99371,29.8076215|48.9938381,29.8079734|48.9938381,29.8079734|48.9851149,29.8138711|48.9851149,29.8138711|48.77297129999999,29.9880175|48.77297129999999,29.9880175|48.7196704,30.2719297|48.7196704,30.2719297|48.51343689999999,32.1601865|48.51343689999999,32.1601865|48.5078287,32.1956255|48.5078287,32.1956255|48.50386959999999,32.2222363|48.50386959999999,32.2222363|48.5016343,32.2372127|48.5016343,32.2372127|48.5129272,32.2485576|48.5129272,32.2485576|48.5143443,32.2491464|48.5143443,32.2491464|48.5135798,32.2482478|48.5135798,32.2482478|48.5131942,32.2485712|48.5131942,32.2485712|48.512809,32.2464139&key={API_KEY}'
                    description: 'Посилання ан маршрут. Таблиця: Таблиця: Заявка (requests) або Рейси (races). Якщо маршрут в заявці не вказано, то береться значення із таблиці рейсів'
                  point_from_koatuu:
                    type: string
                    example: '0523184101'
                    description: 'Код КОАТУУ населеного пункту завантаження. Таблиця: Населені пункти (locality)'
                  point_from_name_ua:
                    type: string
                    example: 'Підвисоке'
                    description: 'Назва населеного пункту завантаження (укр.). Таблиця: Населені пункти (locality)'
                  point_from_name_ru:
                    type: string
                    example: 'Подвысокое'
                    description: 'Назва населеного пункту завантаження (рос.). Таблиця: Населені пункти (locality)'
                  point_from_region_name_ua:
                    type: string
                    example: 'Вінницька'
                    description: 'Область населеного пункту завантаження (укр.). Таблиця: Населені пункти (locality)'
                  point_from_region_name_ru:
                    type: string
                    example: 'Винницкая'
                    description: 'Область населеного пункту завантаження (рос.). Таблиця: Населені пункти (locality)'
                  point_from_description:
                    type: string
                    example: 'Україна, Вінницька обл., Оратівський район, с. Підвисоке'
                    description: 'Адреса населеного пункту завантаження (укр.). Таблиця: Населені пункти (locality)'
                  point_from_description_ua:
                    type: string
                    example: 'Україна, Вінницька обл., Оратівський район, с. Підвисоке'
                    description: 'Адреса населеного пункту завантаження (укр.). Таблиця: Населені пункти (locality)'
                  point_from_description_ru:
                    type: string
                    example: 'Украина, Винницкая обл., Оратовский район, с. Подвысокое'
                    description: 'Адреса населеного пункту завантаження (рос.). Таблиця: Населені пункти (locality)'

                  point_to_koatuu:
                    type: string
                    example: '0523184101'
                    description: 'Код КОАТУУ населеного пункту розвантаження. Таблиця: Населені пункти (locality)'
                  point_to_name_ua:
                    type: string
                    example: 'Підвисоке'
                    description: 'Назва населеного пункту розвантаження (укр.). Таблиця: Населені пункти (locality)'
                  point_to_name_ru:
                    type: string
                    example: 'Подвысокое'
                    description: 'Назва населеного пункту розвантаження (рос.). Таблиця: Населені пункти (locality)'
                  point_to_region_name_ua:
                    type: string
                    example: 'Вінницька'
                    description: 'Область населеного пункту розвантаження (укр.). Таблиця: Населені пункти (locality)'
                  point_to_region_name_ru:
                    type: string
                    example: 'Винницкая'
                    description: 'Область населеного пункту розвантаження (рос.). Таблиця: Населені пункти (locality)'
                  point_to_description:
                    type: string
                    example: 'Україна, Вінницька обл., Оратівський район, с. Підвисоке'
                    description: 'Адреса населеного пункту розвантаження (укр.). Таблиця: Населені пункти (locality)'
                  point_to_description_ua:
                    type: string
                    example: 'Україна, Вінницька обл., Оратівський район, с. Підвисоке'
                    description: 'Адреса населеного пункту розвантаження (укр.). Таблиця: Населені пункти (locality)'
                  point_to_description_ru:
                    type: string
                    example: 'Украина, Винницкая обл., Оратовский район, с. Подвысокое'
                    description: 'Адреса населеного пункту розвантаження (рос.). Таблиця: Населені пункти (locality)'
                  carrier_name:
                    type: string
                    example: 'ФОП Перевізник П. П.'
                    description: 'Назва перевізника. Таблиця: Рейси (races)'
                  carrier_guid:
                    type: string
                    example: '685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa'
                    description: 'Гуід перевізника. Таблиця: Рейси (races)'
                  carrier_code:
                    type: string
                    example: '999999999'
                    description: 'Код ЄДРПОУ перевізника. Таблиця: Рейси (races)'
                  client_name:
                    type: string
                    example: 'ФОП Клієнт'
                    description: 'Назва клієнта. Таблиця: Заявки (requests)'
                  goods_guid:
                    type: string
                    example: 'СОНЯШНИК'
                    description: 'Гуід вантажу. Таблиця: Вантаж (goods)'
                  goods_name:
                    type: string
                    example: 'Соняшник'
                    description: 'Назва вантажу. Таблиця: Вантаж (goods)'
                  goods_desc:
                    type: string
                    example: 'Соняшник'
                    description: 'Опис вантажу. Таблиця: Вантаж (goods)'
                  goods_name_ua:
                    type: string
                    example: 'Соняшник'
                    description: 'Назва вантажу (укр.). Таблиця: Вантаж (goods)'
                  goods_name_ru:
                    type: string
                    example: 'Подсолнечник'
                    description: 'Назва вантажу (рос.). Таблиця: Вантаж (goods)'
                  harvest_year:
                    type: string
                    example: '2021'
                    description: 'Рік врожаю. Таблиця: Рейси (races)'
                  queue_profile_from_harvest_year_in_use:
                    type: integer
                    example: 0
                    description: 'Ознака доступності року врожаю для профіля черги навантаження. Таблиця: Профілі черги (pq_queue_profiles)'
                  queue_profile_to_harvest_year_in_use:
                    type: integer
                    example: 1
                    description: 'Ознака доступності року врожаю для профіля черги розвантаження. Таблиця: Профілі черги (pq_queue_profiles)'
                  quantity:
                    type: number
                    example: 10
                    description: 'Кількість вантажу в тонах. Таблиця: Рейси (races)'
                  customer_kt:
                    type: number
                    example: 1
                    description: 'Признак того, що замовник є КернелТрейд. Таблиця: Рейси (races)'
                  customer_kt_ua:
                    type: string
                    example: 'Так'
                    description: 'Признак того, що замовник є КернелТрейд (укр.). Варіанти: Так, Ні. Таблиця: Рейси (races)'
                  customer_kt_ru:
                    type: string
                    example: 'Так'
                    description: 'Признак того, що замовник є КернелТрейд (рос.). Варіанти: Да, Нет. Таблиця: Рейси (races)'
                  th_carrier_org_name:
                    type: string
                    example: 'ФОП Перевізник П. П.'
                    description: 'Назва перевізника. Таблиця: Рейси (races)'
                  waybill_number:
                    type: string
                    example: 'ТН345'
                    description: 'Номер ТТН. Таблиця: Рейси (races)'
                  waybill_date:
                    type: string
                    example: '27.08.2020'
                    description: 'Дата ТТН. Таблиця: Рейси (races)'
                  waybill_netto_in:
                    type: number
                    example: 20000
                    description: 'Вага нетто ТТН вантажовідрпавника. Таблиця: Рейси (races)'
                  waybill_netto_out:
                    type: number
                    example: 20000
                    description: 'Вага нетто ТТН вантажоотримувача. Таблиця: Рейси (races)'
                  waybill_gross:
                    type: number
                    example: 24000
                    description: 'Вага брутто ТТН вантажовідрпавника. Таблиця: Рейси (races)'
                  waybill_tara:
                    type: number
                    example: 4000
                    description: 'Вага тара ТТН вантажовідрпавника. Таблиця: Рейси (races)'
                  no_waybill_weight:
                    type: number
                    example: 0
                    description: 'ТТН без ваги. Варіанти: 1, 0. Якщо значення null, то ключ не передається. Таблиця: Рейси (races)'
                  waybill_registration_date:
                    type: string
                    example: '27.08.2020 22:24:19'
                    description: 'Дата реєстрації ТТН. Таблиця: Рейси (races)'
                  waybill_consignee_gross:
                    type: number
                    example: 24000
                    description: 'Вага брутто ТТН вантажоотримувача. Таблиця: Рейси (races)'
                  waybill_consignee_tare:
                    type: number
                    example: 4000
                    description: 'Вага тара ТТН вантажоотримувача. Таблиця: Рейси (races)'
                  warehouse_from_guid:
                    type: string
                    example: '685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa'
                    description: 'Гуід складу завантаження. Таблиця: Склади (warehouse)'
                  warehouse_from_code:
                    type: string
                    example: '3510100000004'
                    description: 'Код складу завантаження. Таблиця: Склади (warehouse)'
                  warehouse_from_name:
                    type: string
                    example: 'Кропивницький ОЕЗ, ПРАТ'
                    description: 'Назва складу завантаження. Таблиця: Склади (warehouse)'
                  warehouse_from_address:
                    type: string
                    example: 'Україна, Кіровоградська обл., м. Кропивницький, вулиця Урожайна 30'
                    description: 'Адреса складу завантаження. Таблиця: Склади (warehouse)'
                  warehouse_from_short_address:
                    type: string
                    example: 'вулиця Урожайна 30'
                    description: 'Коротка адреса складу завантаження. Таблиця: Склади (warehouse)'
                  warehouse_from_lat:
                    type: string
                    example: '48.512828'
                    description: 'Довгота складу завантаження. Таблиця: Склади (warehouse)'
                  warehouse_from_lng:
                    type: string
                    example: '32.246397'
                    description: 'Широта складу завантаження. Таблиця: Склади (warehouse)'
                  warehouse_from_max_height:
                    type: number
                    example: 3.2
                    description: 'Максимальна висота складу завантаження. Таблиця: Заявки (requests)'
                  warehouse_from_max_weight:
                    type: number
                    example: 6.4
                    description: 'Максимальна ширина складу завантаження. Таблиця: Заявки (requests)'
                  warehouse_from_max_length:
                    type: number
                    example: 8.4
                    description: 'Максимальна довжина складу завантаження. Таблиця: Заявки (requests)'
                  warehouse_from_weight_type:
                    type: string
                    example: 'Механические'
                    description: 'Тип ваг складу завантаження. Варіанти: Механические, Электронные. Якщо значення null, то ключ не передається. Таблиця: Заявки (requests)'
                  warehouse_from_bd_on:
                    type: string
                    example: 'Механические'
                    description: 'BD On для складу завантаження. Варіанти: 1, 0. Таблиця: Налаштування складу (warehouse_settings)'

                  warehouse_to_guid:
                    type: string
                    example: '685cda6e-ed6f-0537-d32d-b9aa9ce1b7aa'
                    description: 'Гуід складу розвантаження. Таблиця: Склади (warehouse)'
                  warehouse_to_code:
                    type: string
                    example: '3510100000004'
                    description: 'Код складу розвантаження. Таблиця: Склади (warehouse)'
                  warehouse_to_name:
                    type: string
                    example: 'Кропивницький ОЕЗ, ПРАТ'
                    description: 'Назва складу розвантаження. Таблиця: Склади (warehouse)'
                  warehouse_to_address:
                    type: string
                    example: 'Україна, Кіровоградська обл., м. Кропивницький, вулиця Урожайна 30'
                    description: 'Адреса складу розвантаження. Таблиця: Склади (warehouse)'
                  warehouse_to_short_address:
                    type: string
                    example: 'вулиця Урожайна 30'
                    description: 'Коротка адреса складу розвантаження. Таблиця: Склади (warehouse)'
                  warehouse_to_lat:
                    type: string
                    example: '48.512828'
                    description: 'Довгота складу розвантаження. Таблиця: Склади (warehouse)'
                  warehouse_to_lng:
                    type: string
                    example: '32.246397'
                    description: 'Широта складу розвантаження. Таблиця: Склади (warehouse)'
                  warehouse_to_max_height:
                    type: number
                    example: 3.2
                    description: 'Максимальна висота складу розвантаження. Таблиця: Заявки (requests)'
                  warehouse_to_max_weight:
                    type: number
                    example: 6.4
                    description: 'Максимальна ширина складу розвантаження. Таблиця: Заявки (requests)'
                  warehouse_to_max_length:
                    type: number
                    example: 8.4
                    description: 'Максимальна довжина складу розвантаження. Таблиця: Заявки (requests)'
                  warehouse_to_weight_type:
                    type: string
                    example: 'Механические'
                    description: 'Тип ваг складу розвантаження. Варіанти: Механические, Электронные. Якщо значення null, то ключ не передається. Таблиця: Заявки (requests)'
                  warehouse_to_bd_on:
                    type: string
                    example: 'Механические'
                    description: 'BD On для складу розвантаження. Варіанти: 1, 0. Таблиця: Налаштування складу (warehouse_settings)'
                  loading_type:
                    type: string
                    example: 'mound'
                    description: 'Тип завантаження/тип вантажу. Варіанти: mound, pouring. Якщо значення null, то ключ не передається. Таблиця: Рейси (races)'
                  last_event_guid:
                    type: string
                    example: 'GOTO_UNLOAD'
                    description: 'Код останньої події рейсу. Таблиця: Подій (events)'
                  last_event_name_ua:
                    type: string
                    example: 'Вирушив до пункту РОЗВАНТАЖЕННЯ'
                    description: 'Назва останньої події рейсу (укр.). Таблиця: Подій (events)'
                  last_event_name_ru:
                    type: string
                    example: 'Выехал в пункт РАЗГРУЗКИ'
                    description: 'Назва останньої події рейсу (рос.). Таблиця: Подій (events)'
                  last_event_date:
                    type: string
                    example: '27.08.2020 22:24:19'
                    description: 'Дата останньої події рейсу (рос.). Таблиця: Рейси (races)'
                  handle_status:
                    type: string
                    example: 'ready'
                    description: 'Статус обробки рейсу. Варіанти: ready, dash, inactive, canceled. Таблиця: Рейси (races)'
                  queue_from_registered:
                    type: string
                    example: '27.08.2020 22:24:19'
                    description: 'Дата реєстрації в черзі завантаження. Таблиця: Статистика рейсу (race_statistics)'
                  queue_to_registered:
                    type: string
                    example: '27.08.2020 22:24:19'
                    description: 'Дата реєстрації в черзі розватаження. Таблиця: Статистика рейсу (race_statistics)'
                  queue_from_guid:
                    type: string
                    example: 'e0aa433a-3a0c-3743-2aa5-94396a758b7a'
                    description: 'Гуід черги завантаження. Таблиця: Вид черги (pq_queue)'
                  queue_from_name:
                    type: string
                    example: 'Основна черга приймання соняшника'
                    description: 'Назва черги завантаження. Таблиця: Вид черги (pq_queue)'
                  queue_from_address:
                    type: string
                    example: 'Україна, Кіровоградська обл., м. Кропивницький, вул. Урожайна, 30'
                    description: 'Адреса черги завантаження. Таблиця: Вид черги (pq_queue)'
                  queue_from_number:
                    type: number
                    example: 24
                    description: 'Номер в черзі завантаження. Таблиця: Статистика рейсу (race_statistics)'
                  queue_from_status:
                    type: string
                    example: 'in_process'
                    description: 'Статус в черзі завантаження. Варіанти: in_process, rejected, in_queue, drop, in_process_to_drop, dropped, in_process_shift, in_process_move_to_entry. Таблиця: Рейси (races)'
                  queue_from_is_test:
                    type: string
                    example: 1
                    description: 'Признак, що черга завантаження в тестовому режимі. Варіанти: 1, 0. Якщо значення null, то ключ не передається, Таблиця: Вид черги (pq_queue)'
                  queue_from_lat:
                    type: number
                    example: 48.512969
                    description: 'Щирота черги завантаження. Таблиця: Вид черги (pq_queue)'
                  queue_from_lng:
                    type: number
                    example: 32.246173
                    description: 'Довгота черги завантаження. Таблиця: Вид черги (pq_queue)'
                  queue_from_radius:
                    type: number
                    example: 9000
                    description: 'Радіус доступності реєстрації в черзі завантаження. Таблиця: Вид черги (pq_queue)'
                  queue_from_load:
                    type: string
                    example: 'increase'
                    description: 'Стан черги завантаження. Варіанти: increase, decrease, not_change, quickly_decrease. Таблиця: Показники виду черг (pq_queue_temps)'
                  queue_from_state_ua:
                    type: string
                    example: 'Збільшується'
                    description: 'Назва стану черги завантаження (укр.). Варіанти: Збільшується, Зменшується, Не змінюється, Швидко зменшується. Таблиця: Показники виду черг (pq_queue_temps)'
                  queue_from_state_ru:
                    type: string
                    example: 'Увеличивается'
                    description: 'Назва стану черги завантаження (рос.). Варіанти: Увеличивается, Уменьшается, Не изменяется, Быстро уменьшается. Таблиця: Показники виду черг (pq_queue_temps)'
                  queue_from_verification_date:
                    type: string
                    example: '27.08.2020 22:24:19'
                    description: 'Дата верифікації черги завантаження (рос.). Таблиця: Статистика рейсу (race_statistics)'
                  queue_profile_from_name:
                    type: string
                    example: 'Кропивницький ОЕЗ'
                    description: 'Назва профілю черг завантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_profile_from_guid:
                    type: string
                    example: 'e36aa43c-839f-482e-0dd8-4d668234a56e'
                    description: 'Гуід профілю черг завантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_profile_to_name:
                    type: string
                    example: 'Кропивницький ОЕЗ'
                    description: 'Назва профілю черг розвантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_profile_to_guid:
                    type: string
                    example: 'e36aa43c-839f-482e-0dd8-4d668234a56e'
                    description: 'Гуід профілю черг розвантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_prof_from_koatuu:
                    type: string
                    example: '4825487602'
                    description: 'Код КОАТУУ населеного пункту профілю черг завантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_prof_from_region:
                    type: string
                    example: 'Полтавська'
                    description: 'Область населеного пункту профілю черг завантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_prof_from_locality_name:
                    type: string
                    example: 'Кропивницький'
                    description: 'Назва населеного пункту профілю черг завантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_prof_from_district_name:
                    type: string
                    example: 'Кіровоградська міська рада'
                    description: 'Район населеного пункту профілю черг завантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_prof_from_address:
                    type: string
                    example: 'вул. Центральна 40'
                    description: 'Адреса населеного пункту профілю черг завантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_prof_from_lat:
                    type: number
                    example: 48.512969
                    description: 'Широта населеного пункту профілю черг завантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_prof_from_lng:
                    type: number
                    example: 32.246173
                    description: 'Довгота населеного пункту профілю черг завантаження, Таблиця: Профіль черг (pq_queue_profile)'
                  queue_from_waiting_time_ua:
                    type: string
                    example: '1 год'
                    description: 'Час очікування в черзі завантаження (укр.). Таблиця: якщо є журнал черги для рейсу, то дані беруться із Статистики рейсу (race_statistics), інакше з Показників виду черги (pq_queue_temps)'
                  queue_from_waiting_time_ru:
                    type: string
                    example: '1 час'
                    description: 'Час очікування в черзі завантаження (рос.). Таблиця: якщо є журнал черги для рейсу, то дані беруться із Статистики рейсу (race_statistics), інакше з Показників виду черги (pq_queue_temps)'
                  queue_from_waiting_date_ua:
                    type: string
                    example: '27.08.2020 23:58 (СЬОГОДНІ)'
                    description: 'Дата очікування в черзі завантаження (укр.). Таблиця: якщо є журнал черги для рейсу, то дані беруться із Статистики рейсу (race_statistics), інакше з Показників виду черги (pq_queue_temps)'
                  queue_from_waiting_date_ru:
                    type: string
                    example: '27.08.2020 23:58 (СЕГОДНЯ)'
                    description: 'Дата очікування в черзі завантаження (укр.). Таблиця: якщо є журнал черги для рейсу, то дані беруться із Статистики рейсу (race_statistics), інакше з Показників виду черги (pq_queue_temps)'
                  queue_to_guid:
                    type: string
                    example: 'e0aa433a-3a0c-3743-2aa5-94396a758b7a'
                    description: 'Гуід черги розвантаження. Таблиця: Вид черги (pq_queue)'
                  queue_to_name:
                    type: string
                    example: 'Основна черга приймання соняшника'
                    description: 'Назва черги розвантаження. Таблиця: Вид черги (pq_queue)'
                  queue_to_address:
                    type: string
                    example: 'Україна, Кіровоградська обл., м. Кропивницький, вул. Урожайна, 30'
                    description: 'Адреса черги розвантаження. Таблиця: Вид черги (pq_queue)'
                  queue_to_number:
                    type: number
                    example: 24
                    description: 'Номер в черзі розвантаження. Таблиця: Статистика рейсу (race_statistics)'
                  queue_to_status:
                    type: string
                    example: 'in_process'
                    description: 'Статус в черзі розвантаження. Варіанти: in_process, rejected, in_queue, drop, in_process_to_drop, dropped, in_process_shift, in_process_move_to_entry. Таблиця: Рейси (races)'
                  queue_to_is_test:
                    type: string
                    example: 1
                    description: 'Признак, що черга розвантаження в тестовому режимі. Варіанти: 1, 0. Якщо значення null, то ключ не передається, Таблиця: Вид черги (pq_queue)'
                  queue_to_lat:
                    type: number
                    example: 48.512969
                    description: 'Щирота черги розвантаження. Таблиця: Вид черги (pq_queue)'
                  queue_to_lng:
                    type: number
                    example: 32.246173
                    description: 'Довгота черги розвантаження. Таблиця: Вид черги (pq_queue)'
                  queue_to_radius:
                    type: number
                    example: 9000
                    description: 'Радіус доступності реєстрації в черзі розвантаження. Таблиця: Вид черги (pq_queue)'
                  queue_to_load:
                    type: string
                    example: 'increase'
                    description: 'Стан черги розвантаження. Варіанти: increase, decrease, not_change, quickly_decrease. Таблиця: Показники виду черг (pq_queue_temps)'
                  queue_to_state_ua:
                    type: string
                    example: 'Збільшується'
                    description: 'Назва стану черги розвантаження (укр.). Варіанти: Збільшується, Зменшується, Не змінюється, Швидко зменшується. Таблиця: Показники виду черг (pq_queue_temps)'
                  queue_to_state_ru:
                    type: string
                    example: 'Увеличивается'
                    description: 'Назва стану черги розвантаження (рос.). Варіанти: Увеличивается, Уменьшается, Не изменяется, Быстро уменьшается. Таблиця: Показники виду черг (pq_queue_temps)'
                  queue_to_verification_date:
                    type: string
                    example: '27.08.2020 22:24:19'
                    description: 'Дата верифікації черги розвантаження (рос.). Таблиця: Статистика рейсу (race_statistics)'
                  queue_to_waiting_time_ua:
                    type: string
                    example: '1 год'
                    description: 'Час очікування в черзі розвантаження (укр.). Таблиця: якщо є журнал черги для рейсу, то дані беруться із Статистики рейсу (race_statistics), інакше з Показників виду черги (pq_queue_temps)'
                  queue_to_waiting_time_ru:
                    type: string
                    example: '1 час'
                    description: 'Час очікування в черзі розвантаження (рос.). Таблиця: якщо є журнал черги для рейсу, то дані беруться із Статистики рейсу (race_statistics), інакше з Показників виду черги (pq_queue_temps)'
                  queue_to_waiting_date_ua:
                    type: string
                    example: '27.08.2020 23:58 (СЬОГОДНІ)'
                    description: 'Дата очікування в черзі розвантаження (укр.). Таблиця: якщо є журнал черги для рейсу, то дані беруться із Статистики рейсу (race_statistics), інакше з Показників виду черги (pq_queue_temps)'
                  queue_to_waiting_date_ru:
                    type: string
                    example: '27.08.2020 23:58 (СЕГОДНЯ)'
                    description: 'Дата очікування в черзі розвантаження (укр.). Таблиця: якщо є журнал черги для рейсу, то дані беруться із Статистики рейсу (race_statistics), інакше з Показників виду черги (pq_queue_temps)'
                  queue_from_registration_available:
                    type: boolean
                    example: false
                    description: 'Доступність реєстрації в черзі завантаження'
                  queue_from_registration_availability_code:
                    type: string
                    example: '005'
                    description: 'Код повідомлення доступності реєстрації в черзі завантаження'
                  queue_from_registration_availability_text_ua:
                    type: string
                    example: 'Онлайн-реєстрація в черзі буде доступна з 28.08.2020 02:29 через 3 год 30 хв.'
                    description: 'Текст повідомлення доступності реєстрації в черзі завантаження (укр.)'
                  queue_from_registration_availability_text_ru:
                    type: string
                    example: 'Онлайн-регистрация в очереди будет доступна с 28.08.2020 02:29 через 3 час 30 мин.'
                    description: 'Текст повідомлення доступності реєстрації в черзі завантаження (рос.)'
                  queue_to_registration_available:
                    type: boolean
                    example: false
                    description: 'Доступність реєстрації в черзі розвантаження'
                  queue_to_registration_availability_code:
                    type: string
                    example: '005'
                    description: 'Код повідомлення доступності реєстрації в черзі розвантаження'
                  queue_to_registration_availability_text_ua:
                    type: string
                    example: 'Онлайн-реєстрація в черзі буде доступна з 28.08.2020 02:29 через 3 год 30 хв.'
                    description: 'Текст повідомлення доступності реєстрації в черзі розвантаження (укр.)'
                  queue_to_registration_availability_text_ru:
                    type: string
                    example: 'Онлайн-регистрация в очереди будет доступна с 28.08.2020 02:29 через 3 час 30 мин.'
                    description: 'Текст повідомлення доступності реєстрації в черзі розвантаження (рос.)'
                  request_schedule_date:
                    type: string
                    example: '27.08.2020'
                    description: 'Дата графіку заявки рейсу. Таблиця: Заявки (requests)'
                  queue_profile_from_verification_available:
                    type: number
                    example: 0
                    description: 'Признак доступності верифікації в профілі черг завантаження. Варіанти: 1, 0. Таблиця: Профіль черг (pq_queue_profile)'
                  is_verified_from:
                    type: number
                    example: 0
                    description: 'Признак пройденої верифікації при завантаженні. Варіанти: 1, 0. Таблиця: Статистика рейсу (race_statistics)'
                  verifying_date_from:
                    type: string
                    example: '27.08.2020 23:58'
                    description: 'Дата пройденої верифікації при завантаженні. Таблиця: Статистика рейсу (race_statistics)'
                  verification_status_from:
                    type: string
                    example: 'draft'
                    description: 'Статус пройденої верифікації при завантаженні. Варіанти: draft, to_check, accepted, rejected, available, disabled. Таблиця: Статистика рейсу (race_statistics)'
                  queue_profile_to_verification_available:
                    type: number
                    example: 0
                    description: 'Признак доступності верифікації в профілі черг розвантаження. Варіанти: 1, 0. Таблиця: Профіль черг (pq_queue_profile)'
                  is_verified_to:
                    type: number
                    example: 0
                    description: 'Признак пройденої верифікації при розвантаженні. Варіанти: 1, 0. Таблиця: Статистика рейсу (race_statistics)'
                  verifying_date_to:
                    type: string
                    example: '27.08.2020 23:58'
                    description: 'Дата пройденої верифікації при розвантаженні. Таблиця: Статистика рейсу (race_statistics)'
                  verification_status_to:
                    type: string
                    example: 'draft'
                    description: 'Статус пройденої верифікації при розвантаженні. Варіанти: draft, to_check, accepted, rejected, available, disabled. Таблиця: Статистика рейсу (race_statistics)'
                  queue_profile_from_verification_status:
                    type: string
                    example: 'available'
                    description: 'Статус пройденої верифікації при завантаженні по профілю черги. Варіанти: to_check, accepted, rejected, available, disabled. Таблиця: Статистика рейсу (race_statistics)'
                  queue_profile_to_verification_status:
                    type: string
                    example: 'available'
                    description: 'Статус пройденої верифікації при розвантаженні по профілю черги. Варіанти: to_check, accepted, rejected, available, disabled. Таблиця: Статистика рейсу (race_statistics)'
                  is_verification_available:
                    type: boolean
                    example: false
                    description: 'Доступність верифікації по признаку реєстрації ТТН в рейсі. true - ТТН зареєстрована, false - ТТН не зареєстрована. Таблиця: Рейси (races)'
                  verification_access_error_code:
                    type: string
                    example: '037'
                    description: 'Код помилки верифікації. Таблиця: Шаблони текстів (text_template)'
                  verification_access_error_ua:
                    type: string
                    example: 'Верифікація недоступна. Заповніть дані ТТН'
                    description: 'Текст помилки верифікації (укр.). Таблиця: Шаблони текстів (text_template)'
                  verification_access_error_ru:
                    type: string
                    example: 'Верификация недоступна. Заполните данные ТТН'
                    description: 'Текст помилки верифікації (рос.). Таблиця: Шаблони текстів (text_template)'
                  queue_from_wait_time:
                    type: integer
                    example: 60
                    description: 'Прогнозований час очікування водія в черзі навантаження до моменту вибуття, хв. Таблиця: Статистика рейсу (race_statistics)'
                  queue_to_wait_time:
                    type: integer
                    example: 60
                    description: 'Прогнозований час очікування водія в черзі розвантаження до моменту вибуття, хв. Таблиця: Статистика рейсу (race_statistics)'
                  queue_from_number_in_multiqueue:
                    type: integer
                    example: 1
                    description: 'Поточний порядковий номер рейсу в черзі навантаження (режим = мультичерга). Таблиця: Статистика рейсу (race_statistics)'
                  queue_to_number_in_multiqueue:
                    type: integer
                    example: 3
                    description: 'Поточний порядковий номер рейсу в черзі розвантаження (режим = мультичерга). Таблиця: Статистика рейсу (race_statistics)'
                  race_duration_ua:
                    type: string
                    example: 23 дн 4 год
                    description: 'Тривалість рейсу (укр.). Таблиця: рейси (races)'
                  race_duration_ru:
                    type: string
                    example: 23 дн 4 ч
                    description: 'Тривалість рейсу (рос.). Таблиця: рейси (races)'
                  is_agro:
                    type: boolean
                    example: FALSE
                    description: 'Ознака наряду Агро. Таблиця: наряди (request_vehicles_register)'
                  points_to_description:
                    type: string
                    example: Баштанка, Снігурівка
                    description: 'Назви пунктів розвантаження. Таблиця: наряди (request_vehicles_register)'
                  request_number:
                    type: string
                    example: VO-23300000089
                    description: 'Номер заявки/наряду. Таблиця: наряди (request_vehicles_register)'
                  harvest_plan:
                    type: string
                    example: VO-ПРЕ_78
                    description: 'План збирання врожаю. Таблиця: наряди (request_vehicles_register)'
    put:
      tags:
        - Рейс
      summary: Прийняття в роботу актуального рейсу водія
      operationId: driverRacesStatusPut
      description: |
        Оновлення актуального рейсу водія по гуіду рейсу. Виконується прийняття рейсу в роботу, створення запиту на додаваня в чергу та встановлення джерела реєстрації в чергу
      parameters:
        - in: query
          name: client_token
          description: Токен клієнта API
          required: true
          schema:
            type: string
            example: 'e0d22acfba67c35937f2e26c7b6344e6'
        - in: query
          name: access_token
          description: Токен доступу (сесії)
          schema:
            type: string
            example: 'eyAiYWxnIjogIkhTMjU2IiwgInR5cCI6ICJKV1QiIH0.eyAiaWF0IjogMTUzMDU3NjAwMCwgImlzcyI6ICJUUkFOU0lUSFVCIiwgInVzZXJfZW1haWwiOiAic2hhbWF0aWVua28ueWFyb3NsYXZAZ21haWwuY29tIiwgInVzZXJfaWQiOiAiMzYxIn0.a_TvXjWMTzAJOuvH05qZJFMb4oBP7ADDzQUYq7Nhj2U'
        - in: query
          name: race_guid
          description: Гуід рейсу
          schema:
            type: string
            example: 'fc1235b4-4a1b-762b-dc8a-59e506534327'
      requestBody:
[...]
